.pages-404 {
  .info-404 {
    margin: 50px 0 110px;
    img {
      width: 475px;
      max-width: 80%;
      margin: 0 auto 25px;
    }
    h1 {
      color: $red-1;
      font-size: 18px;
      font-weight: 500;
      margin: 25px 0;
    }
  }
}