.announcements-grid {
   position: relative;
   margin: 56px 0;

   &.loading-content {
      opacity: 0.4;
      pointer-events: none;
   }

   &__inner {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
   }

   &__item {
      position: relative;
      max-width: 256px;
      cursor: pointer;
      overflow: hidden;
      border-radius: 8px;
      background-color: $white;
      box-shadow: $shadow-light-1-new;
      transition: box-shadow 0.2s ease-out;

      &:hover {
         box-shadow: $shadow-light-2-new;
      }

      &:first-child {
         min-height: 100%;
      }

      .has-tooltip {
         z-index: 1;
      }

      .item-bg {
         position: relative;
         width: 100%;
         height: 0;
         padding-bottom: 66.78%;
         background-position: center;
         background-size: cover;
         border-radius: 4px 4px 0 0;
         background-color: $greyish-blue-3;
      }

      .item-details {
         padding: 10px;
         height: 100%;

         &__item {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            & > * {
               text-overflow: ellipsis;
               overflow: hidden;
               white-space: nowrap;
            }

            &:first-child {
               height: 26px;
               gap: 15px;

               h3 {
                  font-size: 18px;
                  font-weight: 700;
                  line-height: 17px;
                  color: $dark-blue-1;
               }
            }

            &:nth-child(2) {
               font-size: 16px;
               font-weight: 500;
               line-height: 17px;
               color: $dark-light-new;
            }

            &:nth-child(3) {
               font-size: 16px;
               font-weight: 400;
               line-height: 17px;
               color: $dark-light-new;

               span {
                  position: relative;

                  &:not(:first-child) {
                     padding-left: 12px;

                     &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 2px;
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        transform: translateY(-50%);
                        background-color: $grey-3-new;
                     }
                  }
               }
            }

            &:last-child {
               font-size: 14px;
               font-weight: 400;
               line-height: 17px;
               color: $grey-4-new;
            }

            &:not(:first-child) {
               margin-top: 3px;
            }
         }

         &__icons {
            overflow: visible;
         }

         &__options {
            display: flex;

            &-icon {
               &:not(:first-child) {
                  margin-left: 4px;
               }
            }
         }

         &__actions {
            display: flex;
            justify-content: flex-end;
            //width: 100%;
         }

         &__checks {
            //width: 100%;
            display: flex;
            justify-content: flex-end;
         }

         .item-info {
            display: block;
            color: $greyish-blue-7;
         }

         .call-button {
            position: relative;
            z-index: 10;
            margin-top: 12px;
            pointer-events: all;
         }
      }

      .item-monetization{
         padding: 16px;
      }

      .call-count {
         display: inline-flex;
         align-items: center;
         color: $greyish-blue-7;

         i {
            margin-right: 4px;
            font-size: 12px;

            &.icon-cursor,
            &.icon-eye {
               margin-left: 8px;
               font-size: 15px;
            }
         }
      }

      .item-price {
         display: flex;
         align-items: center;
         width: 100%;
         margin-bottom: 4px;

         span {
            color: $dark-blue-2;
            font-size: 15px;
            font-weight: 500;
            margin-right: auto;
         }

         i {
            margin-left: 15px;
         }
      }

      .item-checkbox {
         width: 100%;
         position: relative;
         z-index: 1;

         .checkbox-input {
            label {
               flex-direction: row-reverse;

               .checkbox {
                  margin-right: -16px;
               }
            }
         }
      }

      .item-overlay {
         @include abs-zero;
         z-index: 1;
         pointer-events: none;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         padding: 12px;

         &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &--left {
               display: flex;
               align-items: center;
               gap: 10px;

               &_item {
                  padding: 3px 5px;
                  border-radius: 4px;
                  font-size: 11px;
                  font-weight: 500;
                  line-height: 13px;
                  color: $white;
                  background-color: $blue-new;
               }
            }

            //&--right {
            //   // width: 70%;
            //   display: flex;
            //   justify-content: flex-end;
            //
            //   span {
            //      transform: scale(0.9);
            //   }
            //}

            .badge {
               white-space: nowrap;
            }
         }

         &__bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &--left {

            }

            &--right {

            }
         }

         .btn-sq {
            pointer-events: all;

            &:not(:last-child) {
               margin-right: 12px;
            }
         }

         .badge {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            line-height: 14px;
            color: $white;
            font-weight: 500;
            //height: 22px;
            min-width: 47px;
            border-radius: 4px;
            //background-color: rgba($dark-blue-1, 0.35);
            background-color: rgba(18, 25, 38, 0.64);
            //padding: 4px 8px;
            padding: 5px;

            i {
               font-size: 12px;
            }

            &:not(:last-child) {
               margin-right: 8px;
            }

            &.squared {
               min-width: 25px;
               padding: 0;
            }

            &.from-border {
               margin-left: -12px;
               border-radius: 0 4px 4px 0;
               min-width: 74px;
               background-color: $dark-blue-2;
            }

            &.active {
               background-color: $green-1;
            }

            &.pending,
            .inactive {
               background-color: $dark-blue-2;
            }

            &.inactive {
               background-color: $yellow-2;
            }

            &.rejected {
               background-color: $red-1;
            }
         }

         .badge-blue {
            background: #155EEF;
         }
      }

      .btn-favorite {
         svg {
            display: none;
         }
      }

      &.isComparisonPage {
         .item-overlay {
            &__top {
               &--right {
                  display: flex;
                  align-items: center;
                  gap: 10px;

                  .comparisonDelete {
                     pointer-events: all;

                     svg {
                        width: 25px;
                     }

                     &:hover {
                        svg {
                           path {
                              stroke: #ff0000;
                           }
                        }
                     }

                     //display: flex;
                     //align-items: center;
                     //gap: 2px;
                     //padding: 3px 10px;
                     //border-radius: 4px;
                     //background-color: $white;
                     //pointer-events: all;

                     //span {
                     //   color: #364152;
                     //   font-size: 15px;
                     //   font-weight: 500;
                     //   line-height: 18px;
                     //}
                  }
               }
            }
         }

         .item-details {
            border-radius: 0 0 8px 8px;
            border: 1px solid #CDD5DF;
         }
      }

      &.isPromotion {
         border: 2px solid $red-1;
      }

      a.abs-link {
         z-index: 1;
      }
   }

   &_gallery {
      position: relative;

      &:hover + .announcements-grid_item {
         box-shadow: $shadow-light-6;
      }

      .d-flex > div {
         width: 100%;

         &:first-child {
            width: 57.73%;
            padding-right: 2.46%;

            div {
               margin-bottom: 10px;
            }
         }

         &:last-child {
            width: 42.27%;

            div {
               margin-bottom: 5.82%;
            }
         }
      }

      .item-bg {
         background-position: center;
         background-size: cover;
         padding-bottom: 76.78%;
         border-radius: 4px;
         cursor: pointer;
         background-color: $white;
         transition: box-shadow 0.2s ease-out;

         &.wider {
            padding-bottom: 47.5%;
         }
      }
   }
}

.grid-title {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 4px;
   background-color: $dark-blue-1;
   color: $white;
   height: 50px;
   padding: 0 25px;
   margin: 0 0 20px;

   h2 {
      display: flex;
      align-items: center;
      margin: 0;

      i {
         font-size: 16px;
         margin-left: 5px;
         margin-right: 12px;
      }

      span {
         font-size: 18px;
         font-weight: 500;
      }
   }

   a {
      display: inline-flex;
      vertical-align: top;
      align-items: center;
      color: $white;
      font-size: 15px;
      font-weight: 500;

      &:hover {
         color: $yellow-1;
      }

      i {
         margin-left: 10px;
      }
   }
}

.no-results {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin: 100px 0 70px;

   span {
      font-size: 18px;
      font-weight: 500;
      margin-top: 22px;
      max-width: 300px;
   }
}

.collapse-toggle {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, 50%);

   .btn {
      color: $red-1;
      border: 3px solid;
      border-radius: 100px;
      padding-left: 25px;
      padding-right: 25px;
      background-color: $white;
      border-color: $greyish-blue-1;

      i {
         margin: 0;
      }
   }
}

.controls-panel {
   padding: 8px 25px 9px;

   .control-icon {
      display: inline-flex;
      align-items: center;
      padding: 4px 8px;
      font-size: 17px;
      margin-left: 8px;

      span {
         font-size: 14px;
         font-weight: 500;
         margin-left: 8px;
         margin-top: 1px;
      }

      &:last-of-type {
         margin-right: 5px;
         padding-right: 0;

         & ~ .tooltip {
            left: 4px !important;
         }
      }
   }
}

.pending-badge-centered {
   justify-content: center !important;

   .pending,
   .inactive {
      padding: 4px 5px 5px 5px !important;
      text-align: center;
      width: auto;
      max-width: calc(50% - 20px);
      overflow: hidden;
      display: inline-block !important;
      text-overflow: ellipsis;
      white-space: nowrap !important;
   }
}

.dark-mode {
   .announcements-grid {
      &_gallery {
         .item-bg {
            background-color: $dark-3;
         }

         &:hover + .announcements-grid_item {
            box-shadow: $shadow-dark-6;
         }
      }

      &_banner {
         background-color: $dark-2;

         &:hover {
            box-shadow: $shadow-dark-6;
         }
      }

      &__item {
         background-color: $dark-2;

         &.isComparisonPage {
            .item-details {
               border: none;
               background-color: #121926;
            }
         }

         .item-details {
            background-color: $dark-light-new;

            &__item {
               color: $white-2-new;

               h3 {
                  color: $white-2-new;
               }

               &:last-child {
                  color: $grey-4-new;
               }
            }
         }
      }

      &.dark-bg {
         .item-details {
            background-color: #121926;
         }
      }
   }

   .no-results {
      span {
         color: $grey-5;
      }
   }

   .collapse-toggle {
      .btn {
         color: $white;
         background-color: $dark-2;
         border-color: $dark-1;
      }
   }

   .controls-panel {
      .control-icon {
         background-color: $dark-2;
      }
   }
}

@include media-max-width('lg') {
   .announcements-grid {
      &__item {
         max-width: 296px;
         //.item-details {
         //   padding: 7px 10px 10px;
         //   // h3 {
         //   //   font-size: 13px;
         //   // }
         //}

         //.item-info {
         //   font-size: 12px;
         //}

         //.item-price {
         //   span {
         //      font-size: 14px;
         //   }
         //
         //   i {
         //      font-size: 10px;
         //   }
         //}

         //.item-overlay {
         //   padding: 10px;
         //
         //   .btn-sq {
         //      &:not(:last-child) {
         //         margin-right: 10px;
         //      }
         //   }
         //
         //   .badge {
         //      //min-width: 60px;
         //      //font-size: 12px;
         //      //padding: 0 5px;
         //
         //      i {
         //         font-size: 10px;
         //      }
         //
         //      //&:not(:last-child) {
         //      //    margin-right: 10px;
         //      //}
         //
         //      &.from-border {
         //         margin-left: -10px;
         //         min-width: 70px;
         //      }
         //   }
         //}
      }

      &__inner {
         grid-template-columns: repeat(3, 1fr);
      }
   }

   .no-results {
      margin: 70px 0 40px;

      span {
         font-size: 16px;
      }

      //img {
      //   width: 50px;
      //}
   }
}

@include media-max-width('md') {
   .announcements-grid {
      &__inner {
         grid-template-columns: repeat(2, 1fr);
      }
   }
}

@include media-max-width('sm') {
   .announcements-grid {
      &__inner {
         gap: 10px;
      }

      &__item {
         .item-details {
            padding: 8px;

            &__item {
               &:first-child {
                  h3 {
                     font-size: 15px;
                     font-weight: 600;
                  }
               }

               &:nth-child(2) {
                  font-size: 14px;
               }

               &:nth-child(3) {
                  font-size: 14px;
               }

               &:last-child {
                  font-size: 12px;
               }
            }
         }
      }
   }
}

@media (max-width: 500px) {
   .pages-annoucements {
      .tabContent {
         &__item {
            .no-results {
               svg {
                  width: 300px;
                  height: 80px;
               }
            }
         }
      }
   }
}

@media (max-width: 375px) {
   .pages-annoucements {
      .tabContent {
         &__item {
            .no-results {
               svg {
                  width: 260px;
                  height: 55px;
               }
            }
         }
      }
   }
}


.ma-announcements {
   .ma-title--md {
      margin-bottom: 24px;
   }

   &__head {
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 12px;
      background: $grey-1-new;
      padding: 0 12px;
      margin-bottom: 32px;

      &--item {
         padding: 18px 12px;
         border: none;
         background: transparent;

         span {
            color: #4B5565;
            font-weight: 500;

            //&:first-child {
            //   color: #155EEF;
            //   font-size: 14px;
            //   padding: 2px 6px;
            //   line-height: 16px;
            //   border-radius: 4px;
            //   margin-right: 2px;
            //   background-color: #DCE3EB;
            //}
         }

         &:hover {
            background: rgba(#155EEF, 0.1);
         }

         &--active {
            position: relative;

            span {
               &:last-child {
                  color: $dark-light-new;
               }
            }

            &:before {
               position: absolute;
               bottom: 0;
               left: 0;
               width: 100%;
               height: 3px;
               content: '';
               background: #155EEF;
               border-radius: 3px 3px 0 0;
            }
         }
      }
   }

   &__body {
      .ma-subtitle--lg {
         margin-bottom: 24px;
      }



      &--row {
         width: auto;
         box-sizing: border-box;
         overflow-x: scroll;
         &::-webkit-scrollbar {
            width: 3px;
            height: 7px;
         }

         /* Track */
         &::-webkit-scrollbar-track {
            background: transparent !important;
         }

         /* Handle */
         &::-webkit-scrollbar-thumb {
            background: rgb(206, 206, 206);
         }

         /* Handle on hover */
         &::-webkit-scrollbar-thumb:hover {
            background: #555;
         }
         overflow-y: auto !important;
         margin-bottom: 40px;
         cursor: grab;

         &:active {
            cursor: grabbing;
         }

         &__inner {
            display: flex;
            flex-wrap: nowrap;
            width: fit-content;
            padding: 10px;

            &--item {
               width: 256px;
               height: 392px;
               //background: rgba(#a9afbb,.3);
               border-radius: 12px;
               margin-right: 20px;
            }

            &--item-plate {
               width: 256px;
               margin-right: 20px;
            }
         }

         .announcements-grid {
            margin: 0 !important;
         }

         .ma-announcement-card {
            &:not(last-of-type) {
               margin-right: 20px;
            }
         }
      }

   }

}



.my-announcements-grid__inner {
   display: flex;
   flex-wrap: nowrap;
   width: fit-content;

   .stratch-child-block {
      width: 256px;
   }

}


//@media(max-width: 991px) {
//   .ma-announcements {
//      &__body--row {
//         overflow: hidden;
//         &__inner {
//            flex-wrap: wrap;
//            flex-direction: row;
//            &--item-plate{
//               width: calc(50% - 9px);
//            }
//         }
//      }
//   }
//}

