.announcements-inner {
   .text-data {
      display: inline-flex;
      vertical-align: top;
      align-items: center;
      color: $dark-blue-3;

      &:not(:last-child) {
         margin-right: 15px;
      }

      i {
         margin-right: 5px;

         &.icon-eye {
            font-size: 18px;
         }

         &:not(:first-child) {
            margin-left: 8px;
         }
      }
   }

   .breadcrumbs {
      .socials {
         a {
            margin-right: 25px;
         }
      }
   }

   & > .row {
      flex-wrap: nowrap;

      .col-auto {
         flex-shrink: 1;
         width: 100%;
      }
   }

   .quick-info {
      hr {
         margin: 13px 0 20px;
      }

      h1,
      .price {
         font-size: 16px;
         font-weight: 500;

         span:last-child {
            color: $dark-blue-3;
         }

         span:first-child {
            color: $dark-blue-2;
            margin-right: 1.5em;
         }

         i {
            position: relative;
            top: 0.1em;
            margin-right: 0.3em;
         }
      }

      .contact {
         display: flex;

         .info {
            width: 100%;
         }

         .img {
            width: 40px;
            height: 40px;
            flex-shrink: 0;
            margin-right: 10px;

            &.is-online {
               &::after {
                  bottom: 0;
                  right: 0;
                  transform: translate(40%, 40%);
               }
            }

            img {
               width: 100%;
               height: 100%;
               object-fit: cover;
               border-radius: 4px;
            }
         }

         h2 {
            font-size: inherit;
            font-weight: 500;
            margin: 0 0 4px;
            color: $dark-blue-1;
         }

         address {
            font-size: 13px;
            margin: 0;
         }

         .all-announcements {
            display: block;
            margin-top: 4px;
            font-size: 13px;

            i {
               font-size: 10px;
               margin-left: 6px;
            }
         }
      }

      .status {
         border: 1px dashed;
         color: $dark-blue-3;
         line-height: 38px;
         white-space: nowrap;
         padding: 0 15px;
         margin-bottom: 15px;
         border-radius: 4px;
         opacity: 0.6;
         text-align: center;
      }

      .more-data {
         margin: 10px 0 15px;

         .text-data {
            font-size: 13px;

            &:first-child {
               margin-right: auto;
            }

            i:not(:first-child) {
               margin-left: 8px;
            }
         }
      }

      .btn {
         i {
            font-size: 12px;
         }
      }
   }

   .comment {
      white-space: pre-line;

      &:last-child p:last-child {
         margin-bottom: 0;
      }
   }

   .card {
      overflow: hidden;
   }

   .floating-cta {
      &.fixed-to-bottom,
      &.fixed-to-top {
         position: fixed;
         z-index: 9;
         min-width: 320px;
         left: 50%;
         transform: translate(-50%);
         width: 100%;
         max-width: 540px;
         background: $white;

         & + div {
            height: 34px;
         }
      }

      &.fixed-to-bottom {
         bottom: 60px;
         border-top: 1px solid $greyish-blue-1;
         padding: 13px 25px 25px;
      }

      &.fixed-to-top {
         top: 60px;
         border-bottom: 1px solid $greyish-blue-1;
         padding: 13px 25px;
      }
   }

   .keywords {
      h3 {
         color: $dark-blue-2;
         font-weight: 500;
         font-size: 16px;
      }

      &__list {
         display: flex;
         flex-wrap: wrap;
         margin-right: -15px;
         margin-bottom: -15px;

         .keyword {
            display: flex;
            align-items: center;
            height: 34px;
            padding: 0 16px;
            border-radius: 17px;
            color: $dark-blue-3;
            font-size: 14px;
            font-weight: 500;
            border: 1px solid $greyish-blue-4;
            margin-right: 15px;
            margin-bottom: 15px;

            &--clickable {
               cursor: pointer;
            }
         }
      }
   }
}

.youtube-play {
   position: relative;

   &::after {
      content: '';
      @include abs-middle;
      width: 100px;
      height: 100px;
      background-image: url('/icons/youtube.svg');
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
   }
}

.video-play {
   position: relative;
   filter: brightness(1) !important;

   &::after {
      font-family: 'icons';
      font-weight: normal;
      content: '\e984';
      @include abs-middle;
      font-size: 12px;
      width: 30px;
      height: 30px;
      background-size: 20px;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;
      background-color: rgba(100, 110, 149, 0.15);
      transition: background 0.2s;
   }

   &::before {
      content: '';
      @include abs-middle;
      width: 88px;
      height: 88px;
      border-radius: 50%;
      background: rgba(100, 110, 149, 0.07);
      transition: background 0.2s;
   }

   &:hover {
      &::after {
         background-color: rgba(100, 110, 149, 0.3);
      }

      &::before {
         background: rgba(100, 110, 149, 0.14);
      }
   }
}

.inner-thumbs-gallery {
   overflow: hidden;

   .youtube-play::after {
      width: 50px;
      height: 50px;
   }

   //&:not(:last-child) {
   //   margin-bottom: 25px;
   //}

   .swiper-container {
      overflow: visible;
   }

   .swiper-container:not(.swiper-container-initialized) {
      opacity: 0;
   }

   .swiper-slide {
      width: 130px;

      &-bg {
         width: 100%;
         height: 80px;
         background-size: cover;
         background-position: center;
         border-radius: 8px;
         cursor: pointer;

         @media (hover: hover) {
            transition: filter 0.3s;
            filter: brightness(0.8);
            &:hover {
               filter: brightness(1);
            }
         }
      }
   }
}

.inner-gallery {
   .swiper-slide {
      &-bg {
         width: 100%;
         height: 600px;
         //padding-bottom: 59.23%;
         //background-size: contain;
         background-repeat: no-repeat;
         background-position: center;
         border-radius: 12px;
         cursor: pointer;
         background-color: $white;
      }
   }

   .gallery-overlay {
      @include abs-zero;
      z-index: 1;
      pointer-events: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 16px;

      .btn-sq {
         pointer-events: all;
         width: 48px;
         height: 48px;

         //&:not(:last-child) {
         //   margin-right: 20px;
         //}
      }

      #gallery-prev {
         i {
            margin-left: -3px;
         }
      }

      #gallery-next {
         i {
            margin-right: -3px;
         }
      }

      .badge {
         display: flex;
         align-items: center;
         justify-content: center;
         font-weight: 500;
         height: 40px;
         min-width: 76px;
         border-radius: 4px;
         color: $white;
         background-color: $dark-blue-2;
         padding: 0 14px;

         i {
            font-size: 17px;
         }

         &:not(:last-child) {
            margin-right: 20px;
         }

         &.squared {
            color: $white;
            background-color: rgba($dark-blue-1, 0.35);
            min-width: 40px;
            padding: 0;
         }
      }

      .badge-360 {
         background: rgba(#000, 0.3);
      }

      &_top {
         min-height: 40px;

         .d-flex {
            margin-left: auto;
         }
      }

      &_bottom {
         min-height: 40px;
         display: flex;
         align-items: center;
         justify-content: space-between;

         .d-flex {
            margin-right: auto;
         }

         &--left {
            display: flex;
            align-items: center;

            button {
               i {
                  font-size: 35px;
               }

               &:not(:last-child) {
                  margin-right: 20px;
               }
            }

            .white-background {
               width: 39px;
               height: 39px;
               margin-right: 10px;

               .btn-compare {
                  width: 28px;
                  height: 28px;
               }

               .btn-favorite {
                  width: 22px;
                  height: 28px;
               }
            }
         }

         &--right {
            button {
               &:hover {
                  svg {
                     path {
                        fill: $red-1;
                     }
                  }
               }

               svg {
                  height: 30px;
               }
            }
         }
      }

      &_middle {
         .d-flex {
            width: 100%;
         }

         .btn-sq {
            background-color: rgba(18, 25, 38, 0.64);
            color: $white;

            i {
               &:before {
                  font-size: 14px;
               }
            }

            &:hover,
            &.active {
               color: $white;
               background-color: rgba(18, 25, 38, 1);
            }
         }

         button {
            &:hover {
               svg {
                  path {
                     fill: $dark-blue-1;
                  }
               }
            }
         }
      }

      &__characteristics {
         display: flex;
         align-items: center;
         gap: 8px;

         &-item {
            padding: 7px 16px;
            border-radius: 6px;
            background-color: rgba(18, 25, 38, 0.32);

            span {
               font-size: 15px;
               font-weight: 500;
               line-height: 18px;
               color: $white;
               margin-left: 8px;

               &.badgeMin {
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 14px;
                  padding: 2px 6px;
                  background-color: $red-1;
               }
            }
         }
      }
   }
}

.dark-mode {
   .inner-gallery {
      .gallery-overlay {
         .badge:not(.from-border) {
            background-color: rgba($dark-2, 0.35);

            &.squared {
               background-color: rgba($dark-1, 0.35);
            }
         }

         &_middle {
            .btn-sq {
               background-color: rgba($dark-1, 0.15);

               &:hover,
               &.active {
                  background-color: rgba($dark-1, 0.3);
               }
            }
         }
      }
   }

   .ads_statics {
      background-color: $dark-new;

      span {
         color: $grey-5-new;
      }
   }

   .radio-container {
      border-color: $grey-2-new;

      &__description {
         h6 {
            color: $grey-5-new;
         }
      }
   }

   .terminal-info-popup {
      .steps {
         .step-item {
            .step-text {
               color: $grey-5-new;
            }
         }
      }
   }
}

.iframe {
   width: 100%;
   padding-bottom: 56%;
   position: relative;

   iframe {
      @include abs-zero;
   }
}

.images-slider {
   width: 100%;
   min-height: 690px;
   margin-top: 100px;

   &__grid {
      display: grid;
      grid-template-columns: 104px 1440px;
      grid-column-gap: 20px;
      justify-content: center;

      &-item {
         &:first-child {
            .swiper-slide {
               width: 100%;
               height: 84px;
               border-radius: 12px;
               overflow: hidden;
               cursor: pointer;

               div {
                  width: 100%;
                  height: 100%;
               }
            }
         }
      }

      &.has-sidebar {
         grid-template-columns: 104px 1040px 400px;
      }

      .quickInfoPriceWrapper {
         .quickInfoPrice {
            background-color: transparent !important;

            &__head {
               span {
                  color: $white-2-new !important;
               }

               svg {
                  path {
                     fill: $white-2-new !important;
                  }
               }
            }

            &:hover {
               background-color: $dark-light-new !important;

               .quickInfoPrice__main {
                  background-color: $dark-light-new !important;

                  p {
                     color: $white-2-new !important;
                  }
               }
            }
         }
      }
   }

   &__close {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 52px;
      height: 52px;
      font-size: 13px;
      border-radius: 50%;
      background-color: #121926;
      cursor: pointer;

      i {
         color: $white-2-new;
      }
   }

   .iframe {
      padding-bottom: 62%;
   }

   .video {
      width: 100%;
      padding-bottom: 62%;
      position: relative;
      border-radius: 4px;
      overflow: hidden;

      video {
         @include abs-zero;
         background-color: $black;
      }
   }

   .toolbar {
      position: absolute;
      top: 22px;
      left: 50%;
      transform: translate(-50%);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 25px;
      color: $white;
      width: 100%;
      max-width: 1616px;
   }

   .swiper-wrapper {
      max-height: 590px !important;
   }

   .swiper-slide {
      max-height: 630px;
      height: 100vh;
      border-radius: 12px;
      overflow: hidden;
   }

   .swiper-thumb-bg,
   .swiper-slide-bg {
      width: 100%;
      //padding-bottom: 59.23%;
      background-size: cover;
      background-position: center;
      border-radius: 4px;
      cursor: pointer;
      background-color: $greyish-blue-3;
      overflow: hidden;
   }

   .swiper-slide-bg {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: default;
      background-color: transparent !important;
      background-size: contain !important;
      background-repeat: no-repeat;
      padding-bottom: 0;
      height: 100%;
      //min-height: 491px;
      //width: calc(100% - 120px);
      //margin-left: 60px;

      img {
         width: 100%;
         height: 100%;
         //max-width: 100%;
         //max-height: 100%;
         object-fit: contain;
      }
   }

   .swiper-thumb-bg {
      transition: filter 0.3s;
      filter: brightness(0.8);

      &:hover {
         filter: brightness(1);
      }

      &.youtube-play::after {
         width: 50px;
         height: 50px;
      }
   }

   .slider-overlay {
      @include abs-zero;
      z-index: 1;
      pointer-events: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .btn-sq {
         pointer-events: all;
         width: 40px;
         height: 40px;
         font-size: 20px;

         &:not(:last-child) {
            margin-right: 20px;
         }
      }

      &_middle {
         margin: auto 24px;

         .d-flex {
            width: 100%;
         }

         .btn-sq {
            background-color: rgba($dark-blue-1, 0.15);
            color: $white;

            i::before {
               font-size: 14px;
            }

            &:hover,
            &.active {
               color: $white;
               background-color: rgba($dark-blue-1, 0.3);
            }
         }

         button {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background-color: rgba(18, 25, 38, 0.64);

            svg {
               width: 20px;
               height: 20px;
            }

            &#slider-prev {
               svg {
                  margin-left: -3px;
               }
            }

            &#slider-next {
               svg {
                  margin-right: -3px;
               }
            }
         }
      }
   }

   .btns {
      margin-top: 16px;
      background-color: $dark-new;
   }

   .quick-info {
      &__item {
         border-color: $dark-new;
         background-color: $dark-new;

         .btn--red-opacity-2 {
            color: $white;
            border-radius: 8px;
            border: none;
            background-color: rgba(248, 23, 52, 0.72);
         }

         .btns {
            background-color: transparent;

            .favorite-btn {
               border-color: $dark-light-new;
               background-color: $dark-light-new;

               span {
                  color: $white;
               }

               .btn-favorite {
                  background-image: url('../../static/icons/star-favorite2-white-border-min.svg') !important;
               }

               &:hover {
                  border-color: $blue-2-new;

                  button {
                     background-image: url('../../static/icons/star-favorite2-active-min.svg') !important;
                  }
               }
            }

            .compare-btn {
               border-color: $dark-light-new;
               background-color: $dark-light-new;

               span {
                  color: $white;
               }

               &:hover {
                  border-color: $blue-2-new;
               }
            }

            .edit-btn {
               color: $white;
               border-color: $dark-light-new;
               background-color: $dark-light-new;

               &:hover {
                  border-color: $blue-2-new;
               }
            }
         }

         .chat-button {
            &:hover {
               border-color: $blue-new;
            }
         }
      }

      &__title {
         color: $white-2-new;
      }

      &__details {
         color: $white-2-new;
         border-color: $white-2-new;
      }

      &__contact {
         &-info {
            h2 {
               color: $white-2-new;
            }
         }
      }

      .chat-button {
         color: $white;
         border-color: #030A17;
         background-color: #030A17;
      }

      .quickInfoPrice {
         &__head {
            span {
               color: $white-2-new;
            }
         }
      }
   }

   .vehicle-specs,
   .vinCode {
      display: none;
   }
}

@media (max-width: 1700px) {
   .images-slider {
      &__grid {
         &.has-sidebar {
            grid-template-columns: 104px 900px 400px;
         }

         grid-template-columns: 104px 1200px;
      }
   }
}

@media (max-width: 1500px) {
   .images-slider {
      &__grid {
         &.has-sidebar {
            grid-template-columns: 104px 700px 400px;
         }

         grid-template-columns: 104px 1000px;
      }
   }
}

@media (max-width: 1300px) {
   .images-slider {
      &__grid {
         &.has-sidebar {
            grid-template-columns: 104px 500px 370px;
            grid-column-gap: 20px;
         }

         grid-template-columns: 104px 800px;
         grid-column-gap: 30px;

         .swiper-wrapper {
            max-height: 550px !important;
         }
      }

      .slider-overlay {
         &_middle {
            button {
               width: 40px;
               height: 40px;

               svg {
                  width: 15px;
                  height: 15px;
               }
            }
         }
      }
   }
}

@media (max-width: 1150px) {
   .images-slider {
      &__grid {
         &.has-sidebar {
            grid-template-columns: 104px 400px 370px;
         }

         grid-template-columns: 104px 700px;
      }
   }
}

.inner-gallery-lightbox {
   height: 0;

   .row .col-auto {
      flex-shrink: 1;
      width: 100%;
   }

   &-footer {
      padding: 20px 16px;
      color: $white;

      .inner {
         display: flex;
         align-items: center;
         justify-content: space-between;
         gap: 16px;

         &__item {
            &:first-child {
               width: calc(85% - 16px);
            }

            &:last-child {
               width: 15%;
            }
         }
      }

      h3 {
         font-size: 16px;
         font-weight: 500;
         text-overflow: ellipsis;
         overflow: hidden;
         white-space: nowrap;
      }

      h4 {
         font-size: 17px;
         font-weight: 500;
      }
   }
}

.dark-mode {
   .announcements-inner {
      .price span:first-child {
         color: $white;
      }

      .price span:last-child,
      .text-data {
         color: $grey-7;
      }

      .breadcrumbs .socials a {
         color: $white;

         &:hover {
            color: $yellow-1;
         }
      }

      .contact {
         address {
            color: $grey-4;
         }

         h2 {
            color: $white;
         }
      }

      .floating-cta {
         &.fixed-to-bottom,
         &.fixed-to-top {
            background-color: $dark-2;
            border-color: $dark-1;
         }
      }

      .keywords {
         h3 {
            color: $grey-4;
         }

         .keyword {
            border-color: $yellow-1;
            color: $yellow-1;
         }
      }
   }

   .vehicle-specs {
      span:first-child {
         color: $grey-7;
      }

      li {
         color: $white;
         border-color: $dark-1;
      }
   }

   .images-slider,
   .inner-gallery {
      .swiper-thumb-bg,
      .swiper-slide-bg {
         background-color: $dark-3;
      }
   }

   .images-slider {
      .quick-info {
         &__item {
            background-color: $dark-new;
         }
      }
   }
}

@include media-min-width('lg') {
   .announcements-inner {
      & > .row {
         & > .col-auto:first-child {
            width: calc(100% - 366px);
         }

         & > .col-auto:last-child {
            flex-shrink: 0;
            width: 366px;
         }
      }

      .quick-info {
         h1,
         .price {
            font-size: 20px;
         }
      }
   }
}

@include media-max-width('lg') {
   .inner-gallery {
      //margin: 0 -25px;

      //.swiper-slide-bg {
      //   border-radius: 0;
      //   padding-bottom: 73.6%;
      //   background-position: center;
      //}

      .gallery-overlay {
         &_top,
         &_bottom {
            min-height: 34px;
         }

         .btn-sq {
            width: 34px;
            height: 34px;

            &:not(:last-child) {
               margin-right: 10px;
            }
         }

         .badge {
            height: 34px;
            padding: 0 10px;

            i {
               font-size: 15px;
            }

            &:not(:last-child) {
               margin-right: 10px;
            }

            &.squared {
               min-width: 34px;
            }
         }
      }
   }
   .inner-thumbs-gallery {
      .swiper-slide {
         width: 150px;
         // margin-right: 20px;
         //&-bg {
         //   padding-bottom: 74.66%;
         //}
      }
   }
   .announcements-inner {
      padding-bottom: 50px;

      .quick-info {
         border-radius: 0;
      }
   }
}

.badge360 {
   background-color: rgba($dark-2, 0.35) !important;
}

.ads_statics {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 12px;
   padding: 16px;
   background-color: $grey-1-new;

   svg {
      min-width: 22px;
      color: $blue-new;
   }

   span {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      margin-left: 12px;
      color: $dark-light-new;
   }
}

.radio-items {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 12px;

   &.payment {
      grid-template-columns: repeat(2, 1fr);
   }
}

.radio-container {
   display: flex;
   align-items: center;
   position: relative;
   height: 52px;
   border: 1px solid $white-2-new;
   border-radius: 8px;
   transition: all .3s;

   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: pointer;

   &__description {
      display: flex;
      flex-direction: column;
      margin-left: 50px;

      h6 {
         font-size: 12px;
         font-weight: 400;
         line-height: 14px;
         color: $grey-2-new;
      }

      h5 {
         font-size: 16px;
         font-weight: 500;
         line-height: 20px;
         color: $dark-new;
      }
   }

   &:has(input:checked) {
      border-color: $blue-new;
   }

   &:hover {
      border-color: $blue-new;
   }
}

/* Create a custom checkbox */
.checkmark {
   position: absolute;
   top: 50%;
   left: 16px;
   transform: translateY(-50%);
   height: 24px;
   width: 24px;
   border-radius: 50%;
   background-color: transparent;
   border: 1px solid $white-2-new;
}

.radio-container input:checked ~ .checkmark {
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid $blue-new;
   background-color: $blue-3-new;
}

.radio-container input:checked ~ .checkmark:after {
   content: "";
   display: flex;
   align-items: center;
   justify-content: center;
   height: 10px;
   width: 10px;
   background-color: $blue-new;
   border-radius: 50%;
}

.terminal-section {
   display: flex;
   align-items: center;

   .description {
      font-size: 10px;
   }

   .info-text {
      font-size: 13px;
   }

   .info-text {
      padding-left: 0;
   }

   .icon-alert-circle {
      left: 3px;
   }
}

.terminal-info-popup {
   max-width: 490px;
   width: 100%;

   &__inner {
      display: flex;
      flex-direction: column;
      gap: 24px;
   }

   &__description {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      color: #1B2434;
   }

   .steps {
      display: flex;
      flex-direction: column;

      .step-item {
         display: flex;
         align-items: center;

         .step-number {
            position: relative;
            min-width: 40px;
            //width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: $pink-light-new;

            span {
               font-size: 20px;
               font-weight: 700;
               line-height: 24px;
               color: $red-1;
            }
         }

         .step-text {
            margin-left: 12px;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            color: $dark-light-new;
         }

         &:not(:first-child) {
            margin-top: 24px;
         }
      }

      //.step-number::after {
      //   content: "";
      //   display: block;
      //   height: 17px;
      //   vertical-align: bottom;
      //   width: 0.1rem;
      //   margin-top: 50px;
      //   background: #DBE7F9;
      //   position: absolute;
      //   left: 50%;
      //   transform: translateX(-50%);
      //}

      //.step-item {
      //   &:last-child {
      //      .step-number {
      //         &::after {
      //            content: none;
      //         }
      //      }
      //   }
      //}
   }

   .btn {
      height: 52px;
   }
}

@media (max-width: 500px) {
   .radio-items {
      display: flex;
      flex-direction: column;
      grid-template-columns: none;
   }
}

@media (max-width: 400px) {
   .announcements-inner {
      .registrationMarksGrid {
         margin: 0 -14px;
      }
   }
}
