.announcements-inner {
  .text-data {
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    color: $dark-blue-3;
    &:not(:last-child) {
      margin-right: 15px;
    }
    i {
      margin-right: 5px;
      &.icon-eye {
        font-size: 18px;
      }
    }
  }
  .breadcrumbs {
    .socials {
      a {
        margin-right: 25px;
      }
    }
  }
  & > .row {
    flex-wrap: nowrap;
    .col-auto {
      flex-shrink: 1;
      width: 100%;
    }
  }
  .quick-info {
    h1,
    .price {
      font-size: 16px;
      font-weight: 500;
    }
    .price {
      span:first-child {
        color: $dark-blue-2;
      }
      span:last-child {
        color: $dark-blue-3;
        margin-left: 1.5em;
      }
      i {
        position: relative;
        top: .1em;
        margin-right: .3em;
      }
    }
    .contact {
      display: flex;
      .img {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        margin-right: 10px;
        img {
          width: 100%;
          border-radius: 4px;
        }
      }
      h2 {
        font-size: inherit;
        font-weight: 500;
        margin: 0 0 4px;
      }
      address {
        font-size: 13px;
      }
    }
  }
  .vehicle-specs {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li {
      color: $grey-8;
      padding: 1em 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $grayish-blue-3;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
      span {
        display: inline-flex;
        align-items: center;
        vertical-align: top;
        &:first-child {
          flex-shrink: 0;
          width: 130px;
          color: $dark-blue-3;
          padding-right: 5px;
        }
        &:last-child {
          padding-left: 5px;
          text-align: right;
        }
        i {
          margin-right: 10px;
        }
      }
    }
  }
  .comment {
    white-space: pre-line;
    &:last-child p:last-child {
      margin-bottom: 0;
    }
  }
}


.dark-mode {
  .announcements-inner {
    .price span:first-child {
      color: $white;
    }
    .price span:last-child,
    .vehicle-specs span:first-child,
    .text-data {
      color: $grey-7;
    }
    .breadcrumbs .socials a {
      color: $white;
      &:hover {
        color: $yellow-1;
      }
    }
    .contact address {
      color: $grey-4;
    }
    .vehicle-specs li {
      color: $white;
      border-color: $dark-1;
    }
  }
}

@include media-min-width('lg') {
  .announcements-inner {
    & > .row {
      .col-auto:last-child {
        flex-shrink: 0;
        width: 366px;
      }
    }
    .quick-info {
      h1,
      .price {
        font-size: 20px;
      }
    }
  }
}