.announcements-grid {
  position: relative;
  margin: 30px 0;
  &.loading-content {
    opacity: .4;
    pointer-events: none;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background-color: $dark-blue-1;
    color: $white;
    height: 50px;
    padding: 0 25px;
    margin: 0 0 20px;
    h2 {
      display: flex;
      align-items: center;
      margin: 0;
      i {
        font-size: 16px;
        margin-left: 5px;
        margin-right: 12px;
      }
      span {
        font-size: 18px;
        font-weight: 500;
      }
    }
    a {
      display: inline-flex;
      vertical-align: top;
      align-items: center;
      color: $white;
      font-size: 15px;
      font-weight: 500;
      &:hover {
        color: $yellow-1;
      }
      i {
        margin-left: 10px;
      }
    }
  }
  &_item {
    position: relative;
    background-color: $white;
    border-radius: 4px;
    transition: box-shadow .2s ease-out;
    cursor: pointer;
    &:hover {
      box-shadow: $shadow-light-6;
    }
    .item-bg {
      position: relative;
      width: 100%;
      padding-bottom: 76.78%;
      background-position: center;
      background-size: cover;
      border-radius: 4px 4px 0 0;
      background-color: $greyish-blue-3;
    }
    .item-details {
      padding: 15px 15px 10px;
      h3 {
        font-size: 15px;
        font-weight: 500;
        margin: 0 0 4px;
      }
      .item-info {
        display: block;
        color: $greyish-blue-7;
      }
    }
    .call-count {
      display: inline-flex;
      align-items: center;
      color: $greyish-blue-7;
      i {
        margin-right: 4px;
        font-size: 12px;
      }
    }
    .item-price {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 4px;
      span {
        color: $dark-blue-2;
        font-size: 15px;
        font-weight: 500;
        margin-right: auto;
      }
      i {
        margin-left: 15px;
      }
    }
    .item-checkbox {
      width: 100%;
      .checkbox-input {
        label {
          flex-direction: row-reverse;
          .checkbox {
            margin-right: -16px;
          }
        }
      }
    }
    .item-overlay {
      @include abs-zero;
      z-index: 1;
      pointer-events: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 12px;
      .btn-sq {
        pointer-events: all;
        &:not(:last-child) {
          margin-right: 12px;
        }
      }
      .badge {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        font-weight: 500;
        height: 25px;
        min-width: 62px;
        border-radius: 4px;
        background-color: rgba($dark-blue-1, .35);
        padding: 0 8px;
        i {
          font-size: 12px;
        }
        &:not(:last-child) {
          margin-right: 12px;
        }
        &.squared {
          min-width: 25px;
          padding: 0;
        }
        &.from-border {
          margin-left: -12px;
          border-radius: 0 4px 4px 0;
          min-width: 74px;
        }
        &.active {
          background-color: $green-1;
        }
        &.pending {
          background-color: $dark-blue-2;
        }
        &.inactive {
          background-color: $yellow-2;
        }
        &.rejected {
          background-color: $red-1;
        }
      }
      &_top {
        .d-flex {
          margin-left: auto;
        }
      }
      &_bottom {
        .d-flex {
          margin-right: auto;
        }
      }
    }
    a.abs-link {
      z-index: 1;
    }
  }
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 100px 0 70px;
  span {
    font-size: 18px;
    font-weight: 500;
    margin-top: 22px;
    max-width: 300px;
  }
}

.collapse-toggle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  .btn-circle {
    background-color: $greyish-blue-1;
    i {
      margin-top: -5px;
    }
  }
}

.controls-panel {
  padding: 6px 25px;
  .control-icon {
    padding: 4px 8px;
    font-size: 17px;
    margin-left: 8px;
    &:last-of-type {
      margin-right: 5px;
      padding-right: 0;
      & ~ .tooltip {
        left: 4px !important;
      }
    }
  }
}

.dark-mode {
  .controls-panel {
    .control-icon {
      background-color: $dark-2;
    }
  }
}

@include media-max-width(lg) {
  .controls-panel {
    padding: 25px;
    .row {
      position: absolute;
      z-index: 1;
      top: 28px;
      right: 0;
    }
    .control-icon {
      background-color: $white;
      margin-left: -22px;
      padding: 0 22px;
      // &:first-of-type {
      //   padding-left: 25px;
      // }
      // &:last-of-type {
      //   margin-right: -32px;
      // }
      &.disabled-ui {
        opacity: 1;
        i {
          opacity: .25;
        }
      }
    }
  }
}

.dark-mode {
  .announcements-grid {
    .title {
      background-color: $dark-2;
    }
    &_item {
      background-color: $dark-2;
      &:hover {
        box-shadow: $shadow-dark-6;
      }
      .item-bg {
        background-color: $dark-3;
      }
      .item-details .item-info,
      .call-count {
        color: $grey-4;
      }
      .item-price span {
        color: $white;
      }
    }
  }

  .no-results {
    span {
      color: $grey-5;
    }
  }

  .collapse-toggle {
    .btn-circle {
      color: $white;
      background-color: $dark-1;
    }
  }
}

@include media-max-width('lg') {
  .announcements-grid {
    margin: 20px -10px;
    .title {
      height: 34px;
      padding: 0 15px;
      margin-bottom: 15px;
      h2 {
        span {
          font-size: 14px;
        }
        i {
          font-size: 14px;
          margin-left: 0;
        }
      }
      a {
        font-size: 13px;
        font-weight: normal;
      }
    }
    &_item {
      .item-details {
        padding: 7px 10px 10px;
        h3 {
          font-size: 13px;
        }
      }
      .item-info {
        font-size: 12px;
      }
      .item-price {
        span {
          font-size: 14px;
        }
        i {
          font-size: 10px;
        }
      }
      .item-overlay {
        padding: 10px;
        .btn-sq {
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
        .badge {
          min-width: 60px;
          font-size: 12px;
          padding: 0 5px;
          i {
            font-size: 10px;
          }
          &:not(:last-child) {
            margin-right: 10px;
          }
          &.from-border {
            margin-left: -10px;
            min-width: 70px;
          }
        }
      }
    }
  }

  .no-results {
    margin: 70px 0 40px;
    span {
      font-size: 16px;
    }
    img {
      width: 50px;
    }
  }

  .announcements-sorting {
    margin: 0 -10px;
  }
}

@include media-min-width('lg') {
  .announcements-grid {
    .col-lg-auto {
      width: 20%;
    }
  }

  .breadcrumbs + .announcements-grid {
    margin-top: 0;
  }

  .announcements-sorting {
    .col-lg-auto:first-child {
      width: 80%;
    }
    .col-lg-auto:last-child {
      width: 20%;
    }
  }
}