.business-profile {
  &__features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 44px;

    .feature {
      height: 180px;
      position: relative;
      &__foreground {
        width: calc(100% - 15px);
        height: calc(100% - 15px);
        position: absolute;
        padding: 0 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: $dark-blue-1;
        border-radius: 4px;
      }
      &__background {
        width: calc(100% - 15px);
        height: calc(100% - 15px);
        position: absolute;
        right: 0;
        bottom: 0;
        border: 1px solid $dark-blue-1;
        border-radius: 4px;
      }
      &__bookmark{
        height: 40px;
        position: absolute;
        right: 20px;
        top: 0;
      }
      &__title{
        font-size: 22px;
        font-weight: 500;
        color: $white;
      }
      &__text{
        margin-top: 13px;
        font-size: 32px;
        font-weight: 500;
        color: $red-1;
      }
    }
  }
}