.pages-business-profile {
  .announcements-grid {
    &_item {
      cursor: default;
    }
  }
  .business-profile {
    &__features {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 54px;
      .feature {
        height: 180px;
        position: relative;
        width: calc((100% - 44px) / 2);
        &:not(:nth-child(n+3)) {
          margin-bottom: 44px;
        }
        @media (max-width: map-get($grid-breakpoints, 'lg')) {
          width: 100%;
          &:not(:last-child) {
            margin-bottom: 44px;
          }
        }
        &__foreground {
          width: calc(100% - 15px);
          height: calc(100% - 15px);
          position: absolute;
          padding: 0 50px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          background: $dark-blue-1;
          border-radius: 4px;
        }
        &__background {
          width: calc(100% - 15px);
          height: calc(100% - 15px);
          position: absolute;
          right: 0;
          bottom: 0;
          border: 1px solid $dark-blue-1;
          border-radius: 4px;
        }
        &__bookmark{
          height: 40px;
          position: absolute;
          right: 20px;
          top: 0;
        }
        &__title{
          font-size: 22px;
          font-weight: 500;
          color: $white;
        }
        &__text{
          margin-top: 13px;
          font-size: 32px;
          font-weight: 500;
          color: $red-1;
        }
      }
    }
    &__competitor-announcements {
      padding-bottom: 50px;
      @media (max-width: map-get($grid-breakpoints, 'lg')) {
        padding-bottom: 25px;
      }
      .images {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        img {
          width: 100%;
        }
        @media (max-width: map-get($grid-breakpoints, 'lg')) {
          flex-direction: column;
          img:first-child {
            margin-bottom: 20px;
          }
        }
        @media (min-width: map-get($grid-breakpoints, 'lg')) {
          img {
            width: 468px;
            &:first-child {
              margin-right: 20px;
            }
          }
        }
      }
    }
    &__control-panel {
      padding-bottom: 50px;
      @media (max-width: map-get($grid-breakpoints, 'lg')) {
        padding-bottom: 30px;
      }
      .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: map-get($grid-breakpoints, 'lg')) {
          flex-direction: column;
        }
        width: 100%;
        img {
          @media (min-width: map-get($grid-breakpoints, 'lg')) {
            width: calc((100% - 60px) / 4);
            &:nth-child(n+5) {
              margin-top: 20px;
            }
          }
          @media (max-width: map-get($grid-breakpoints, 'lg')) {
            max-width: 325px;
            margin: 0 auto;
            &:not(:last-of-type) {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
    &__additional-features {
      .section {
        padding: 50px 0;
        @media (max-width: map-get($grid-breakpoints, 'lg')) {
          padding: 25px 0;
          &:nth-of-type(2n) {
            display: flex;
            flex-direction: column;
            & > * {
              order: 2;
            }
            .content {
              order: 1;
            }
          }
        }

        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .subtitle, p {
            margin: 12px 18px 0;
            font-size: 16px;
            font-weight: 400;
            @media (max-width: map-get($grid-breakpoints, 'lg')) {
              font-size: 13px;
            }
          }
          .shop-badge {
            margin-right: 8px;
            padding: 4px 7px 3px;
            height: 23px;
            border-radius: 4px;
            background-color: $dark-blue-2;
            color: $white;
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
          }
        }
        @media (min-width: map-get($grid-breakpoints, 'lg')) {
          &:nth-of-type(2n-1) {
            .content {
              padding-right: 70px;
            }
          }
          &:nth-of-type(2n) {
            .content {
              padding-left: 70px;
            }
          }
        }
      }
      h2, h3 {
        margin: 0;
      }
      img {
        width: 100%;
        &[class^="illustration"] {
          margin-top: 44px;
        }
        &.illustration-1 { width: 120px }
        &.illustration-2 { width: 118px }
        &.illustration-3 { width: 180px }
        &.illustration-4 { width: 122px }
        &.illustration-5 { width: 133px }
        &.illustration-6 { width: 104px }
      }
    }
    &__application-section, &__contact-us {
      padding: 50px 0;
      background-color: $greyish-blue-10;
      @media (max-width: map-get($grid-breakpoints, 'lg')) {
        padding: 25px 0;
      }
      h2 {
        margin-bottom: 40px;
      }
      .middle-images {
        .row {
          height: 100%;
          @media (max-width: map-get($grid-breakpoints, 'lg')) {
            padding-bottom: 25px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
          }
        }
        .col-auto {
          display: flex;
          align-items: center;
          @media (max-width: map-get($grid-breakpoints, 'lg')) {
          }
          &:first-of-type img {
            margin: 0 50px 0 auto;
            @media (max-width: map-get($grid-breakpoints, 'lg')) {
              margin: 0;
            }
          }
          &:last-of-type img {
            @media (max-width: map-get($grid-breakpoints, 'lg')) {
              margin-top: 25px;
            }
          }
        }
      }
    }
    &__faq {
      display: flex;
      flex-direction: column;
      padding-bottom: 50px;
      @media (max-width: map-get($grid-breakpoints, 'lg')) {
        padding-bottom: 25px;
      }
      h2 {
        margin-bottom: 42px;
      }
    }
    &__entrepreneurs {
      display: flex;
      flex-direction: column;
      h2 {
        margin: 46px 0 42px;
        font-size: 24px;
        font-weight: 500;
        font-style: italic;
        em {
          color: $dark-blue-2;
        }
      }
      .entrepreneurs-list {
        display: flex;
        flex-wrap: wrap;
        // TODO replace gap property
        gap: 25px;
        @media (max-width: map-get($grid-breakpoints, 'lg')) {
          background-color: transparent;
        }
        .entrepreneur {
          padding: 0 25px;
          width: 10%;
          @media (max-width: map-get($grid-breakpoints, 'lg')) {
            width: 33.33%;
          }
          img {
            width: 100%;
            object-fit: contain;
            object-position: center;
            aspect-ratio: 1 / 1;
            @media (max-width: map-get($grid-breakpoints, 'lg')) {
              // width: 40px;
            }
          }
          &__name {
            text-align: center;
            margin-top: 13px;
            font-size: 15px;
            font-weight: 500;
            @media (max-width: map-get($grid-breakpoints, 'lg')) {
              margin-top: 8px;
              font-size: 13px;
            }
          }
        }
      }
    }
    &__advantages {
      padding: 25px 0 44px;
      img {
        width: 100%;
        @media (max-width: map-get($grid-breakpoints, 'lg')) {
          margin-top: 20px;
        }
      }
    }
    &__packages {
      display: flex;
      flex-direction: column;
      padding: 0 0 50px;
      .packages {
        padding: 42px 0 30px;
        .package {
          flex: 1;
          width: 100%;
          margin: 0;
          height: min-content;
          padding: 26px 16px 18px;
          border: 1px solid $greyish-blue-3;
          cursor: pointer;
          transition: box-shadow .2s ease-out;
          &:hover {
            box-shadow: $shadow-light-6;
          }
          &--active {
            border-color: $green-1;
            pointer-events: none;
          }
          &__radio {
            position: absolute;
            top: 11px;
            right: 11px;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            border: 1px solid $greyish-blue-3;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            &--checked {
              border: 5px solid $green-1;
            }
          }
          &__price {
            font-size: 22px;
            font-weight: 500;
            line-height: 25px;
            color: $dark-blue-2;
            @media (max-width: map-get($grid-breakpoints, 'lg')) {
              font-size: 21px;
            }
          }
          &__name {
            margin-top: 10px;
            font-size: 22px;
            font-weight: 500;
            line-height: 25px;
            @media (max-width: map-get($grid-breakpoints, 'lg')) {
              font-size: 22px;
            }
          }
          &__details {
            p {
              display: flex;
              align-items: center;
              font-size: 14px;
              @media (max-width: map-get($grid-breakpoints, 'lg')) {
                font-size: 13px;
              }
            }
            @media (max-width: map-get($grid-breakpoints, 'lg')) {
              .icon-wallet {
                margin-right: 10px;
              }
            }
            .icon-wallet {
              margin-right: 6px;
              font-size: 20px;
              color: $dark-blue-1;
            }
          }
        }
        @media (max-width: map-get($grid-breakpoints, 'lg')) {
          padding: 20px 0 15px;
          .package {
            padding: 16px 10px;
            height: 100%;
          }
        }
        @media (min-width: map-get($grid-breakpoints, 'lg')) {
          .col-6:nth-child(2n) {
            margin-top: 20px;
          }
        }
      }
      @media (max-width: map-get($grid-breakpoints, 'lg')) {
        padding: 0 0 30px;
        button {
          width: 100%;
        }
      }
    }
  }
  .section-title {
    margin: 46px 0 0;
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    @media (max-width: map-get($grid-breakpoints, 'lg')) {
      margin: 25px 0 0;
      font-size: 18px;
    }
  }
  .section-subtitle {
    margin: 12px 0 45px;
    font-size: 16px;
    font-weight: 400;
    @media (max-width: map-get($grid-breakpoints, 'lg')) {
      font-size: 13px;
    }
  }
  .heading-dots {
    position: relative;
    padding: 0 18px;
    &:after, &:before {
      content: '';
      width: 5px;
      height: 5px;
      background-color: #000000;
      border-radius: 50%;
      position: absolute;
      top: 14px;
      @media (max-width: map-get($grid-breakpoints, 'lg')) {
      top: 10px;
      }
    }
    &:after {
      right: 0;
    }
    &:before {
      left: 0;
    }
    &--left:after {
      padding-right: 0;
      content: none;
    }
  }
  button.show-more {
    padding: 0 25px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    align-self: center;
    i {
      margin: 0 0 0 10px ;
      font-size: 10px;
    }
  }
  .text-with-check {
    display: flex;
    align-items: flex-start;
    margin: 12px 18px 0 0;
    font-size: 16px;
    font-weight: 400;
    i {
      margin-right: 15px;
      margin-top: 4px;
      font-size: 10px;
      color: $green-1;
    }
    .shop-badge {
      margin-top: -4px;
    }
    &.with-badge {
      i {
        margin-top: 5px;
      }
    }
    @media (max-width: map-get($grid-breakpoints, 'lg')) {
      font-size: 13px;
      i {
        margin-right: 5px;
        font-size: 8px;
      }
    }
  }
}

.announcements-popup {
  width: 1000px;
  p > span {
    font-weight: 500;
  }
  .row {
    p {
      margin-bottom: 0;
    }
  }
}

.dark-mode {
  .pages-business-profile {
    .form-switch {
      background-color: $dark-2;
    }
    .business-profile {
      &__features {
        .feature {
          &__foreground {
            background: $white;
          }
          &__background {
            border-color: $white;
          }
          &__title {
            color: $dark-1;
          }
        }
      }
      &__application-section, &__contact-us {
        background-color: $dark-5;
      }
      &__entrepreneurs {
        h2 {
          em {
            color: $yellow-1;
          }
        }
      }
      &__packages {
        .packages {
          .package {
            border-color: $dark-5;
            &:hover {
              box-shadow: $shadow-dark-6;
            }
            &--active {
              border-color: $green-1;
            }
            &__radio {
              border-color: $white;
              &--checked {
                border-color: $green-1;
              }
            }
            &__price {
              color: $white;
            }
            &__details {
              .icon-wallet {
                color: $white;
              }
            }
          }
        }
      }
    }
    .heading-dots {
      &:after, &:before {
        background-color: $white;
      }
    }
  }
}