.pages-business-profile-index {

  .business-profile {
    &__features {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 44px;
      padding-bottom: 54px;
      .feature {
        height: 180px;
        position: relative;
        &__foreground {
          width: calc(100% - 15px);
          height: calc(100% - 15px);
          position: absolute;
          padding: 0 50px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          background: $dark-blue-1;
          border-radius: 4px;
        }
        &__background {
          width: calc(100% - 15px);
          height: calc(100% - 15px);
          position: absolute;
          right: 0;
          bottom: 0;
          border: 1px solid $dark-blue-1;
          border-radius: 4px;
        }
        &__bookmark{
          height: 40px;
          position: absolute;
          right: 20px;
          top: 0;
        }
        &__title{
          font-size: 22px;
          font-weight: 500;
          color: $white;
        }
        &__text{
          margin-top: 13px;
          font-size: 32px;
          font-weight: 500;
          color: $red-1;
        }
      }
    }

    &__competitor_announcements {
      padding-bottom: 50px;
      .images {
        display: flex;
        gap: 20px;
        justify-content: center;
      }
    }

    &__control-panel {
      padding-bottom: 50px;
      .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        img {
          user-select: none;
          margin-bottom: 20px;
          width: calc(100% - 3 * 20px) / 4;
        }
      }
    }

    &__additional-features {
      .section {
        padding: 50px 0;
        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .subtitle, p {
            margin: 12px 18px 0;
            font-size: 16px;
            font-weight: 400;
            i[class^="icon-"] {
              margin-right: 15px;
              font-size: 10px;
              color: $green-1;
            }
          }
          .shop-badge {
            margin-right: 8px;
            padding: 4px 7px 3px;
            height: 23px;
            border-radius: 4px;
            background-color: $dark-blue-2;
            color: $white;
            font-size: 13px;
            font-weight: 500;
          }
        }
        &:nth-of-type(2n-1) {
          .content {
            padding-right: 70px;
          }
        }
        &:nth-of-type(2n) {
          .content {
            padding-left: 70px;
          }
        }
        
      }
      h2, h3 {
        margin: 0;
      }
      img {
        width: 100%;
        &[class^="illustration"] {
          margin-top: 44px;
        }
        &.illustration-1 { width: 120px }
        &.illustration-2 { width: 118px }
        &.illustration-3 { width: 180px }
        &.illustration-4 { width: 122px }
        &.illustration-5 { width: 133px }
        &.illustration-6 { width: 104px }
      }
    }

    &__application-section {
      padding: 50px 0;
      background-color: $greyish-blue-10;
    }
  }

  .section-title {
    margin: 46px 0 0;
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
  }
  .section-subtitle {
    margin: 12px 0 45px;
    font-size: 16px;
    font-weight: 400;
  }
  .heading-dots {
    position: relative;
    padding: 0 18px;
    &:after, &:before {
      content: '';
      width: 5px;
      height: 5px;
      background-color: #000000;
      border-radius: 50%;
      position: absolute;
      top: 14px;
    }
    &:after {
      right: 0;
    }
    &:before {
      left: 0;
    }
    &--left:after {
      padding-right: 0;
      content: none;
    }
  }
}