.calculator{
    &__inputs{
        padding: 22px 25px 25px 25px;
        background: #fff;
        border-radius: 4px;
        &--heading{
            font: 400 18px Gilroy;
            margin-bottom: 18px;
            width: 100%;
            position: relative;
            &::after{
                position: absolute;
                top: 12px;
                right: 0;
                content: '';
                width: 58px;
                height: 1px;
                background: $dark-blue-1;
            }
        }
        .form-group{
            margin-bottom: 20px;
        }
        .secondary--heading{
            font: 400 14px Gilroy !important;
            color: $dark-blue-1;
        }
        .dollar__exchange{

            span{
                font: 400 16px Gilroy;
                &:nth-child(1){
                    color: $dark-blue-1;
                }
                &:nth-child(2){
                    color: $dark-blue-2;
                }
            }
        }
    }
    &__results{
        &--heading{
            padding: 24px 168px 20px 25px;
            border-radius: 4px;
            background: #fff;
            color: $dark-blue-1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            margin-bottom: 20px;
            h3{
                font: 400 18px Gilroy;
            }
            h4{
                color: $dark-blue-2;
                font: 400 18px Gilroy;
            }
            .label{
                background: $red-1;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -17px;
                color: #fff;
                padding:8px 14px 7px 21px;
                font: 400 14px Gilroy;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10% 50%);

                &-flip{
                    position: absolute;
                    bottom: 5px;
                    right: -17px;
                    width: 17px;
                    height: 17px;
                    background: #C6021C;
                    clip-path: polygon(0 0, 0% 100%, 100% 0);
                }
            }
        }
        &--content{
            border-radius: 4px;
            background: #fff;
            padding: 22px 25px  25px 25px;
            .self-end{
                justify-self: flex-end;
            }
        }
    }
}