.calculator {
   &__inputs {
      padding: 32px;
      background-color: #fff;
      border-radius: 12px;

      &--heading {
         position: relative;
         font-weight: 700;
         font-size: 28px;
         line-height: 32px;
         color: #121926;
         margin-bottom: 32px;
      }

      .form-group {
         margin-bottom: 20px;
      }

      .dollar__exchange {
         font-size: 16px;
         line-height: 20px;
         color: $dark-light-new;
      }

      .btn {
         height: 52px;
      }
   }

   &__results {
      padding: 32px;
      border-radius: 12px;
      background-color: $white;

      &--title {
         font-weight: 600;
         font-size: 24px;
         line-height: 28px;
         color: $dark-light-new;
         margin-bottom: 24px;
      }
   }

   &__empty-results {
      background: #fff;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      padding: 50px;

      &--image {
         width: 90%;

         img {
            width: 100%;
            height: 100%;
            object-fit: contain;

            &.dark-mode {
               display: none;
            }
         }
      }
   }

   &__info {
      &--paragraph {
         font-size: 16px;
         line-height: 28px;
      }
   }
}

.dark-mode {
   .calculator {
      &__inputs {
         background: $dark-light-new;

         &--heading {
            color: $grey-1-new;
         }

         .dollar__exchange {
            span {
               color: $white-2-new;
            }
         }
      }

      &__info {
         &--paragraph {
            color: $white-2-new;
         }
      }

      &__results {
         background: $dark-light-new;

         &--title {
            color: $grey-1-new;
         }

         &--content {
            .vehicle-specs {
               ul {
                  li {
                     border-color: $grey-2-new;

                     span {
                        &:first-child {
                           color: $white-2-new;
                        }

                        &:last-child {
                           color: $grey-1-new;
                        }
                     }
                  }
               }

               .sum {
                  span {
                     color: $grey-1-new;
                  }
               }
            }
         }
      }

      &__empty-results {
         background: $dark-light-new;

         &--image {
            img {
               &.light-mode {
                  display: none;
               }

               &.dark-mode {
                  display: block;
               }
            }
         }
      }
   }
}

@media (max-width: 1150px) {
   .calculator {
      &__results {
         margin-top: 20px;
      }

      &__empty-results {
         &--image {
            width: 50%;
         }
      }
   }
}

@media (max-width: 600px) {
   .calculator {
      &__inputs {
         padding: 0;
         background-color: transparent;

         &--heading {
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
         }
      }

      &__results {
         padding: 20px 16px;
      }
   }
}
