.calculator {
  &__inputs {
    padding: 22px 25px 25px 25px;
    background: #fff;
    border-radius: 4px;
    &--heading {
      font: 400 18px Gilroy;
      margin-bottom: 18px;
      width: 100%;
      padding-right: 64px;
      position: relative;
      &::after {
        position: absolute;
        top: 12px;
        right: 0;
        content: '';
        width: 58px;
        height: 1px;
        background: $dark-blue-1;
      }
    }
    .form-group {
      margin-bottom: 20px;
    }
    .secondary--heading {
      font: 400 14px Gilroy !important;
      color: $dark-blue-1;
    }
    .dollar__exchange {
      span {
        font: 400 16px Gilroy;
        &:nth-child(1) {
          color: $dark-blue-1;
        }
        &:nth-child(2) {
          color: $dark-blue-2;
        }
      }
    }
  }
  &__results {
    &--heading {
      padding: 24px 240px 20px 25px;
      border-radius: 4px;
      background: #fff;
      color: $dark-blue-1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      margin-bottom: 20px;
      h3 {
        font: 400 18px Gilroy;
      }
      h4 {
        color: $dark-blue-2;
        font: 400 18px Gilroy;
      }
      .label {
        background: $red-1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -17px;
        color: #fff;
        padding: 8px 14px 7px 28px;
        font: 400 14px Gilroy;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10% 50%);

        &-flip {
          position: absolute;
          top: 52px;
          right: -17px;
          width: 17px;
          height: 17px;
          background: #c6021c;
          clip-path: polygon(0 0, 0% 100%, 100% 0);
        }
        @media screen and (max-width: 480px){
          &-flip {

            top: 38px;

          }
      }

      }
    }
    &--content {
      border-radius: 4px;
      background: #fff;
      padding: 22px 25px 25px 25px;
      .self-end {
        justify-self: flex-end;
      }
      .sum {
        display: flex;
        justify-content: space-between;
        font: 400 18px Gilroy;
        span {
          &:nth-child(1) {
            color: $dark-blue-1;
          }
          &:nth-child(2) {
            color: $dark-blue-2;
          }
        }
      }
    }
    .vehicle-specs li span:first-child {
      width: calc(100% - 200px) !important;
    }
  }
  &__empty-results {
      background: #fff;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
    &--image {
      width: 50%;
      img{
          width: 100%;
          height: 100%;
          object-fit: contain;
      }
    }
    &--message{
        font: 400 18px Gilroy;
        color: $red-1;
    }
  }
  &__info{
    &--paragraph{
      font: 400 14px Gilroy;
      line-height: 19px;
    }
  }
}


.dark-mode{
  .calculator {
    &__inputs {
      background: $dark-2;
      .secondary--heading {
        color: #fff;
      }
      .dollar__exchange {
        span {
          font: 400 16px Gilroy;
          &:nth-child(1) {
            color: #fff;
          }
          &:nth-child(2) {
            color: #fff;
          }
        }
      }
    }
    &__results {
      &--heading {
        background: $dark-2;
        color: #fff;
        h3 {
          color: #fff;
        }
        h4 {
          color:#fff;
        }
        .label {
          background: $red-1;
          position: absolute;
          //top: 50%;
          transform: translateY(-50%);
          right: -17px;
          color: #fff;
          padding: 8px 14px 7px 21px;
          font: 400 14px Gilroy;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10% 50%);

          &-flip {
            position: absolute;
            bottom: 5px;
            right: -17px;
            width: 17px;
            height: 17px;
            background: #c6021c;
            clip-path: polygon(0 0, 0% 100%, 100% 0);
          }
        }
      }
      &--content {
        border-radius: 4px;
        background: $dark-2;
        padding: 22px 25px 25px 25px;
        .self-end {
          justify-self: flex-end;
        }
        .sum {
          span {
            &:nth-child(1) {
              color: #fff;
            }
            &:nth-child(2) {
              color: #fff;
            }
          }
        }
      }
      .vehicle-specs li span:first-child {
        width: calc(100% - 200px) !important;
      }
    }
    &__empty-results {
        background: $dark-2;
    }
  }
}

@media screen and (max-width: 1024px) {
  .calculator{
    &__results{
      margin-top: 40px;
      &--heading{
        padding: 80px 25px 20px 25px;
        .label {
          top: 23px;
        }
      }
    }
  }
}
