.height-100 {
  height: 100%;
}

.tabs-filter {
  filter: blur(1px);
}

.checkbox-input,
.letter_permissions_can_be_given {
  span {
    white-space: break-spaces !important;
  }
}

.white-space-break {
  white-space: break-spaces !important;
}

.override-disabled {
  input {
    background: $greyish-blue-2 !important;
    color: $dark-blue-1 !important;
    &:disabled {
      color: $dark-blue-1 !important;
      -webkit-text-fill-color: $dark-blue-1 !important;
    }
  }
}
.dark-mode {
  .override-disabled {
    input {
      background: $dark-1 !important;
      color: #fff !important;
      &:disabled {
        color: #fff !important;
        -webkit-text-fill-color: #fff !important;
      }
    }
  }
}

.min-height-if-notification {
  min-height: calc(100vh - 572px);
}
.min-height-if-not-notification {
  min-height: calc(100vh - 497px);
}
