.e-service {
  padding: 20px 24px 20px 25px;
  background: #fff;
  border-radius: 4px;
  height: 210px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  &__header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 10px;
    &--title {
      font: 400 18px Gilroy;
      color: $dark-blue-1;
      margin-bottom: 0;
    }
    &--icon {
      font: 26px;
      color: $dark-blue-2;
      font-size: 25px;
    }
  }
  &__body {
      display: flex;
      flex-wrap: nowrap;
      height: 62px;
    &--image {
      height: 45px;
      margin-right: 20px;
      max-width: 46px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &--description {
      .key {
        color: $dark-blue-1;
        font: 400 14px Gilroy;
        line-height: 19px;
        margin-bottom: 2px;
      }
      .value {
        color: $dark-blue-2;
        font: 400 16px Gilroy;
      }
      .description-red-7{
        color: $red-7;
      }
      ol{
        list-style-type: none;
        padding-left: 20px;
        margin-top: -44px;
        li{
          font: 500 14px Gilroy;
          &:nth-of-type(1){
            margin-bottom: 8px;
          }
          &:nth-of-type(2){
            color: $red-1;
          }
        }
      }

    }
  }
  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 48px;
    &--left {
      width: 100%;
      margin-bottom: 10px;
      a {
        color: $green-1;
        font: 400 14px Gilroy;
        text-decoration: underline;
      }
    }
    &--right{
      width: 100%;
        color: $dark-blue-2;
        text-align: right;
        white-space: nowrap;
        i{
            margin-left: 8px;
        }
    }
    &--button{
      color: $green-1;
      font: 400 14px Gilroy;
      text-decoration: underline;
      background: transparent;
      border: none;
      outline: none;
    }
  }
}


.dark-mode{
  .e-service {
    background: $dark-2;
    &__header {
      &--title {
        color: #fff;
      }
      &--icon {
        color: $grey-1;
      }
    }
    &__body {
      &--description {
        .key {
          color: #fff
        }
        .value {
          color: #fff;
        }
      }
    }
    &__actions {
      &--left {
        a {
          color: #fff;
        }
      }
      &--right{
          color: #fff;
          a{
            color: #fff !important;
          }
      }
      &--button{
        color: #fff;
      }
    }
  }
}
