.e-service {
   display: inline-block;
   width: 100%;
   padding: 20px;
   background: $white;
   border-radius: 12px;
   border: 1px solid $white;
   transition: all .3s;
   min-height: 232px;

   &__body {
      margin-top: 20px;
   }

   &__title {
      font-weight: 600;
      font-size: 17px;
      line-height: 20px;
      color: $dark-new;
   }

   &__description {
      margin-top: 12px;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      color: $grey-2-new;
   }

   &:hover {
      border-color: $blue-new;
   }
}

.dark-mode {
   .e-service {
      border-color: $dark-light-new;
      background-color: $dark-light-new;

      &__title {
         color: $grey-1-new;
      }

      &__description {
         color: $white-2-new;
      }

      svg {
         rect {
            fill: $grey-3-new;
         }
      }

      &:hover {
         border-color: $blue-new;
      }
   }
}

@media (max-width: 600px) {
   .e-service {
      display: flex;
      align-items: center;
      padding: 16px;
      min-height: auto;

      &__body {
         margin-top: unset;
         margin-left: 16px;
      }

      &__description {
         margin-top: 8px;
      }
   }
}
