.messages {
  .card {
    padding: 0;
  }
  & > .row > .col-auto {
    width: 100%;
  }
}

.chat {
  &-list-items {
    padding: 0 15px 0 0;
  }
  &-list-switch {
    display: flex;
    align-items: center;
    user-select: none;
    width: 100%;
    padding: 13px 25px 15px 25px;
    font-size: 14px;
    .switch-count {
      margin-left: auto;
      flex-shrink: 0;
    }
    .switch-text {
      font-weight: 500;
      width: 100%;
      transition: color .15s ease-out;
    }
    .switch-icon {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: rgba($dark-blue-1, .15);
      margin-right: 9px;
      transition: background-color .15s ease-out;
    }
  }
  &-item {
    color: inherit;
    padding: 15px 10px 15px 25px;
    .badge {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      line-height: 12px;
      padding: 3px 0 1px;
      width: 16px;
      height: 16px;
      color: $white;
      background-color: $red-1;
      border-radius: 50%;
      font-size: 12px;
      font-weight: 500;
    }
    .dots {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 15px;
      height: 15px;
      cursor: pointer;
      i {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: $dark-blue-2;
      }
    }
  }
  &-avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-info {
    width: 100%;
    overflow: hidden;
  }
  &-first-line,
  &-announcement,
  &-details {
    display: flex;
    align-items: center;
  }
  &-first-line {
    position: relative;
    font-size: 13px;
    span:first-child {
      margin-right: auto;
    }
    span:nth-child(2) {
      font-size: 12px;
      padding-right: 27px;
      margin-left: 10px;
      flex-shrink: 0;
    }
    span:nth-child(3):not(.dots) {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
    }
  }
  &-announcement {
    font-size: 12px;
    margin-top: 1px;
    span:nth-child(2) {
      flex-shrink: 0;
      margin-left: 20px;
      &:not(:last-child) {
        margin-right: 20px;
      }
      i {
        position: relative;
        top: 4px;
        font-size: 20px;
        line-height: 0;
        -webkit-text-stroke-width: .4px;
        -webkit-text-stroke-color: inherit;
      }
    }
    span:nth-child(3) {
      flex-shrink: 0;
      width: 20px;
      margin-left: auto;
    }
  }
  &-details {
    font-size: 12px;
    margin-top: 1px;
    br {
      display: none;
    }
    .delivery-info {
      position: relative;
      font-size: 14px;
      margin-right: 6px;
      top: 1px;
    }
    .attachment-info {
      i {
        margin-right: 4px;
      }
    }
  }
  &-inner-info,
  &-inner-announcement {
    width: 50%;
    display: flex;
    align-items: center;
    height: 74px;
    padding: 17px 25px;
  }
  &-inner-info {
    img {
      height: 40px;
      width: 40px;
    }
    .username {
      font-size: 13px;
      font-weight: 500;
      margin-right: auto;
    }
    span.cursor-pointer {
      font-size: 18px;
      margin-left: 20px;
    }
  }
  &-inner-announcement {
    img {
      height: 40px;
      width: 50px;
      border-radius: 4px;
      margin-right: 15px;
    }
    span {
      font-size: 12px;
      line-height: 1.6;
    }
  }
}

@include media-max-width('lg') {
  .messages {
    
  }
}

@include media-min-width('lg') {
  .messages {
    & > .row {
      & > .col-auto {
        &:nth-child(1) {
          width: 346px;
          flex-shrink: 0;
        }
        &:nth-child(2) {
          width: 100%;
          flex-shrink: 1;
        }
      }
    }
  }

  .messages {
    &_chat-list,
    &_msg-list {
      height: calc(100vh - 201px - 25px - 69px);
      margin-top: 2px;
      max-height: 699px;
    }
    &.empty &_chat-list,
    &.empty &_msg-list {
      height: calc(100vh - 201px - 25px);
      max-height: 768px;
    }

    .divider {
      height: 34px;
      border-left: 1px solid $greyish-blue-2;
      margin: 20px 0;
    }
  }

  .chat {
    &-first-line {
      span:nth-child(2) {
        padding-right: 0;
      }
    }
  }
}