.part-categories {
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  &__wrapper {
    width: fit-content;
    margin: 0;
    box-sizing: border-box;
    
    .category {
      display: inline-block;

      a {
        padding: 16px;
        font-size: 14px;
        font-weight: 500;
        color: $dark-blue-1;
        border: 1px solid $greyish-blue-4;
        border-radius: 4px;
        display: flex;
        align-items: center;
  
        i {
          font-size: 40px;
          margin-right: 15px;
        }
      }
  
      &.active a {
        background-color: $greyish-blue-9;
      }
    }
  }
  .swiper-container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.parts {
  &-banners {
    display: flex;
    gap: 20px;

    @include media-max-width('md') {
      flex-direction: column;
    }
  }

  &-banner {
    border-radius: 4px;
    padding: 20px 50px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-max-width('md') {
      padding: 10px 20px;
      width: 100%;
    }

    &__text {
      max-width: 250px;
    }

    &__title {
      font-size: 22px;
      font-weight: 500;
      color: $dark-blue-1;
      @include media-max-width('md') {
        font-size: 15px;
      }
    }

    &__description {
      font-size: 16px;
      font-weight: 400;
      color: $dark-blue-1;
      @include media-max-width('md') {
        font-size: 11px;
      }
    }

    &__link {
      font-size: 16px;
      font-weight: 500;
      color: $dark-blue-2;
      display: flex;
      align-items: center;
      @include media-max-width('md') {
        font-size: 11px;
      }
      
      i {
        margin-left: 11px;
        font-size: 12px;
      }
    }
    
    &__image {
      width: 150px;
      @include media-max-width('md') {
        width: 85px;
      }
    }

    &--winter-tyres {
      background-color: #FFCB14;
      
      @include media-max-width('md') {
        padding-right: 10px;
      }
        .parts-banner__image {
        width: 200px;
        
        @include media-max-width('md') {
          width: 110px;
        }
      }
    }

    &--online-store {
      background-color: #44E58E;
    }
  }
}

.create-store {
  &__desc {
    padding: 0 14px;
  }
}

.part-search-form {
  @include media-max-width('lg') {
    .row.vertical-gap {
      gap: 20px
    }
  }

  .checkboxes-box {
    background-color: $greyish-blue-2;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;

    .show-more {
      display: flex;
      align-items: baseline;
    }
  }
}

.sell_parts-form {
  .row [class^=col-] {
    display: flex;
    align-items: flex-end;

    & > * {
      flex: 1;
    }
  }

  .price-input-group {
    display: flex;
    
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    
    .checkbox-input label {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 1px solid $greyish-blue-6;
    }
  }

  .parts_image-upload {
    
    .form-gallery_thumbnail {
      padding-bottom: 80%;
      margin: 0
    }

    .upload-rules {
      height: 100%;
      padding: 20px;
      background-color: $greyish-blue-2;
      display: flex;
      border-radius: 4px;
      
      &__image {
        height: 100%;
        padding-left: 35px;
        padding-right: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: $white;
      }
      
      &__content {
        margin-left: 12px;
        
        &__title {
          font-size: 15px;
          font-weight: 500;
        }
        
        &__list {
          padding-left: 20px;
          margin: 5px 0 0;
          
          li {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 4px;
            
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.dark-mode {
  .parts_image-upload .upload-rules {
    background-color: $dark-1;
    &__image {
      background-color: $dark-2;
    }
  }

  .parts {
    &-banner {
      &__title {
        color: $dark-2;
      }
  
      &__description {
        color: $dark-2;
      }
  
      &__link {
        color: $dark-blue-2;
      }
    }
  }

  .part-categories {
    li {
      &.active a{
        background-color: rgba($grey-11, 0.2);
      }

      a {
        color: $white;
        border-color: rgba($white, 0.2);
      }
    }
  }

  .part-search-form {
    .checkboxes-box {
      background-color: $dark-1;
    }
  }

  .sell_parts-form .price-input-group .checkbox-input label {
    border-color: $dark-2;
  }
}