.profile-card {
  position: relative;
  margin-top: 50px;
  .edit-link {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 18px;
  }
  a {
    &:not(:hover) {
      color: inherit;
    }
  }
  .avatar {
    display: block;
    width: 100px;
    height: 100px;
    background-color: $greyish-blue-3;
    border-radius: 50%;
    margin: 0 auto 20px;
    margin-top: -75px;
  }
  .profile {
    &_info {
      &-details {
        display: flex;
        align-items: center;
        padding-bottom: 16px;
        border-bottom: 1px solid $greyish-blue-3;
      }
      i {
        margin-right: 9px;
      }
    }
  }
}

.profile-links-card {
  padding: 12px 15px;
  .link-block {
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
    }
    a:not(:hover) {
      color: inherit;
    }
    hr {
      margin: 12px 0;
    }
    &:last-child {
      hr {
        display: none;
      }
    }
  }
}

.profile-settings-card {
  .avatar {
    &_edit {
      margin-bottom: 40px;
      .form-image {
        width: 100px;
        height: 100px;
        margin: 0 auto;
      }
      &.cover {
        width: calc(100% - 120px);
        .form-image {
          width: 100%;
          height: 100px;
        }
      }
      p {
        font-weight: 500;
        margin: 9px 0 0;
      }
    }
  }
}

.payment-history-info {
  color: $dark-blue-2;
  font-size: 15px;
  margin: -10px -10px 0;
}
.payment-history-rows {
  padding: 0 10px;
  margin-bottom: -20px;
  .row {
    align-items: center;
    justify-content: center;
    height: 45px;
    font-size: 15px;
    border-top: 1px solid $greyish-blue-3;
    &.head {
      border-top: 0;
      height: auto;
      margin-top: -10px;
      margin-bottom: -10px;
      span {
        color: inherit !important;
      }
    }
    i {
      width: 18px;
      margin-right: 8px;
    }
    .payment-service,
    .payment-period,
    .payment-price,
    .payment-date {
      display: inline-flex;
      justify-content: flex-start;
      flex-shrink: 0;
      white-space: nowrap;
    }
    .payment-service {
      align-items: center;
      width: 145px;
    }
    .payment-period {
      color: $dark-blue-3;
      width: 120px;
    }
    .payment-price {
      width: 90px;
    }
    .payment-date {
      color: $dark-blue-3;
      width: 90px;
      text-align: right;
      justify-content: flex-end;
    }
    &.less-cols {
      .payment-date {
        width: 115px;
        text-align: left;
        justify-content: flex-start;
      }
    }
  }
}

.templates-controls-panel {
  padding: 6px 25px;
  .control-icon {
    padding: 4px 8px;
    font-size: 17px;
    margin-left: 8px;
    &:last-of-type {
      margin-right: -8px;
    }
  }
}
.templates-item {
  padding: 6px 25px;
  .toggle .cursor-pointer {
    display: inline-block;
    padding: 4px 8px;
    margin-right: -8px;
  }
  &_params {
    .row {
      padding: 25px 0 10px;
      .col-auto {
        width: 20%;
      }
      .param {
        span:first-child {
          margin-bottom: 5px;
        }
      }
    }
    hr {
      position: absolute;
      top: 46px;
      left: 0;
      width: 100%;
      margin: 0;
    }
  }
}

.increase-balance {
  &-info {
    padding: 20px 0;
    text-align: center;
    p {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 0;
    }
    i {
      font-size: 50px;
    }
    strong {
      display: block;
      font-size: 30px;
      font-weight: 500;
      i {
        font-size: 21px;
      }
    }
  }
  &-form {
    p {
      margin-bottom: -5px;
    }
  }
}

.dark-mode {
  .profile-card {
    .avatar {
      background-color: $dark-3;
    }
    .profile {
      &_info {
        &-details {
          border-bottom-color: $dark-1;
        }
      }
    }
  }

  .payment-history-info {
    color: $yellow-1;
  }
  .payment-history-rows {
    .row {
      border-top-color: $dark-1;
      .payment-period,
      .payment-date {
        color: $grey-1;
      }
    }
  }
}

@include media-max-width(lg) {
  .profile-card {
    margin-top: 0;
    padding: 15px;
    .edit-link {
      top: 15px;
      right: 15px;
      font-size: 16px;
    }
    .profile {
      &_info {
        margin-bottom: -10px;
        &-details {
          border-bottom: 0;
          padding-bottom: 10px;
        }
      }
      &_top {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
        .avatar {
          flex-shrink: 0;
          width: 60px;
          height: 60px;
          margin: 0 15px 0 0;
        }
        h2 {
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 4px;
          & ~ span {
            display: block;
            margin-bottom: 4px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .payment-history-rows {
    margin-bottom: -25px;
    .row {
      background-color: $white;
      margin: 0 -35px;
      padding: 0 25px;
      &:nth-child(2n + 2) {
        background-color: $greyish-blue-1;
      }
      border-top: 0;
      .payment-service,
      .payment-price,
      .payment-period,
      .payment-date {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        span {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .payment-service {
        width: 125px;
      }
      .payment-period {
        width: 90px;
      }
      .payment-price {
        width: 50px;
      }
      .payment-date {
        width: 70px;
      }
      &.less-cols {
        .payment-date {
          width: 115px;
          justify-content: flex-end;
        }
      }
    }
  }

  .templates-controls-panel {
    padding: 25px;
    .row {
      position: absolute;
      z-index: 1;
      top: 28px;
      right: 0;
    }
    .control-icon {
      background-color: $white;
      margin-left: -22px;
      padding: 0 22px;
      &:first-of-type {
        padding-left: 25px;
      }
      &:last-of-type {
        margin-right: -32px;
      }
      &.disabled-ui {
        opacity: 1;
        i {
          opacity: .25;
        }
      }
    }
  }

  .increase-balance {
    &-info {
      padding: 40px 0 0;
      text-align: center;
    }
  }

  .dark-mode {
    .payment-history-rows {
      .row {
        background-color: $dark-2;
        &:nth-child(2n + 2) {
          background-color: $dark-1;
        }
      }
    }

    .templates-controls-panel {
      .control-icon {
        background-color: $dark-2;
      }
    }
  }
}