.registrationMarks {
   &__create {
      margin-top: 24px;
      width: 100%;
      padding: 24px 0 48px 0;
      border-radius: 6px;
      background-color: #FFFFFF;

      &-title {
         display: flex;
         align-items: center;
         font-weight: 600;
         font-size: 18px;
         line-height: 22px;
         color: #081A3E;
         margin: 0 0 24px 10px;
         overflow: hidden;

         span {
            position: relative;
            white-space: nowrap;
            &:last-child {
               width: 100%;
               height: 2px;
               background-color: #9AA4B2;
               margin-left: 23px;
            }
         }
      }

      &-note {
         display: flex;
         align-items: center;
         padding: 12px;
         border-radius: 4px;
         border: 1px solid #CDD5DF;
         margin: 0;

         svg {
            max-width: 22px;
            width: 100%;
            height: 22px;
            margin-right: 11px;
         }

         p {
            font-weight: 400;
            font-size: 14px;
            color: #4B5565;
            margin: 0;

            span {
               font-weight: 700;
               color: #0f0f0f;
               margin-left: 4px;
            }
         }
      }

      &-form {
         display: flex;

         img {
            width: 100%;
         }
      }

      .btn {
         width: 100%;
         font-weight: 600;
         font-size: 14px;
         line-height: 18px;
         padding: 11px;
         height: 40px;
         color: #FFFFFF;
         background: #29A53E;
         backdrop-filter: blur(10px);
         border-radius: 4px;
         border: none;
         outline: none;
      }
   }

   &.moderator {
      .btns {
         &:nth-child(3) {
            .btn {
               background-color: #dfc71c;
            }
         }
         &:last-child {
            .btn {
               color: $black;
               background-color: rgba(192, 192, 192, 0.5);
            }
         }
      }
   }

   &.index {
      margin-top: 32px;
   }
}

@media (min-width: 374px) {
   .registrationMarks {
      &__create {
         &-note {
            p {
               font-size: 15px;
            }
         }
      }
   }
}

@media (min-width: 424px) {
   .registrationMarks {
      &__create {
         padding: 24px 14px 48px 14px;
      }
   }
}

//@media (min-width: 576px) {
//   .registrationMarks {
//      .container {
//         padding: 0 25px !important;
//      }
//   }
//}

@media (min-width: 1025px) {
   .registrationMarks {
      &.moderator {
         .btns {
            width: 50% !important;
            flex: 0 0 50% !important;
            max-width: 50% !important;

            &:last-child {
               width: 50% !important;
               flex: 0 0 50% !important;
               max-width: 50% !important;
            }
         }
      }
   }
}

@media (min-width: 1250px) {
   .registrationMarks {
      &.moderator {
         .btns {
            width: 46% !important;
            flex: 0 0 46% !important;
            max-width: 46% !important;

            &:last-child {
               width: 46% !important;
               flex: 0 0 46% !important;
               max-width: 46% !important;
            }
         }
      }
   }
}
