

.search-nav {
  background-color: $white;
  overflow: hidden;
  .search-types,
  .search-categories {
    border-bottom: 1px solid $greyish-blue-1;
    ul {
      display: flex;
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    a {
      color: inherit;
      &.active {
        color: $red-1;
      }
    }
  }
  .search-types {
    ul {
      height: 60px;
      align-items: center;
      justify-content: space-between;
    }
    ul li {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      position: relative;
      height: 58px;
      font-size: 13px;
      font-weight: 500;
      text-align: center;
      width: auto;
    }
    a {
      &.active::before {
        content: '';
        position: absolute;
        bottom: -1px;
        border-bottom: 3px solid;
        border-radius: 1px;
        width: 20px;
        left: 50%;
        transform: translate(-50%);
      }
    }
  }
  .search-categories {
    ul {
      height: 85px;
      align-items: flex-start;
      justify-content: space-between;
    }
    ul li,
    .swiper-slide {
      font-size: 12px;
      text-align: center;
      width: 100px;
      padding: 0 5px;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 85px;
        padding-top: 10px;
        word-break: break-word;
        hyphens: auto
      }
      i {
        font-size: 40px;
      }
    }
    ul li {
      &:first-child {
        text-align: left;
        padding-left: 0;
      }
      &:last-child {
        text-align: right;
        padding-right: 0;
      }
      a {
        display: inline-flex;
      }
    }
    .swiper-slide {
      width: auto;
      min-width: 85px;
      max-width: 100px;
      a {
        padding-top: 5px;
        &.category-link {
          padding-left: 5px;
          padding-right: 5px;
          i {
            font-size: 30px;
            padding: 5px;
          }
        }
      }
      &:first-child {
        min-width: auto;
        padding-left: 0;
        a.category-link {
          padding-left: 0;
          i {
            padding: 5px 0;
          }
        }
      }
    }
  }
  .swiper {
    &-container {
      overflow: visible;
    }
  }
}

.dark-mode {
  .search-nav {
    background-color: $dark-2;
    .search-types,
    .search-categories {
      border-bottom-color: $dark-1;
    }
    a.active {
      color: $yellow-1;
    }
  }
}

.cars-search-form {
  .stick-to-bottom {
    position: sticky;
    z-index: 2;
    bottom: 0;
    left: 0;
    background-color: $white;
    border-top: 1px solid $greyish-blue-2;
    margin-left: -25px;
    margin-right: -25px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.car-filters {
  &_row > .d-flex {
    h2 {
      width: 100%;
      margin: 0;
      user-select: none;
    }
    & > i::before {
      font-size: 12px;
      margin-left: 25px;
      margin-top: 6px;
    }
  }
}

.car-body-shortcuts {
  &:hover,
  &.has-value {
    .shortcut {
      opacity: .4;
    }
  }
  .shortcut {
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    transition: opacity .2s ease-out, transform .2s ease-out;
    &:hover,
    &.active {
      transform: scale(1.03);
    }
    &.active {
      color: $dark-blue-2;
      opacity: 1;
    }
    &:not(.active):hover {
      opacity: .7;
    }
  }
}

.car-option-packs {
  padding: 15px 0;
  .pack-item {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    min-height: 72px;
    border: 1px solid $greyish-blue-4;
    border-radius: 4px;
    padding: 8px 15px;
    &:hover {
      background-color: $greyish-blue-2;
    }
    &.active {
      background-color: $greyish-blue-3;
    }
    .pack-info {
      width: 100%;
      strong {
        display: block;
        font-weight: 500;
      }
      span {
        color: $dark-blue-3;
        font-size: 13px;
      }
    }
    .pack-icon {
      flex-shrink: 0;
      font-size: 40px;
      margin-right: 15px;
      i {
        display: flex;
      }
    }
  }
}

.dark-mode {
  .cars-search-form {
    .stick-to-bottom {
      background-color: $dark-2;
      border-top-color: $dark-1;
    }
  }
  .car-body-shortcuts .shortcut.active {
    color: $yellow-1;
  }
  .car-option-packs {
    padding: 15px 0;
    .pack-item {
      border-color: $grey-1;
      &.active,
      &:hover {
        background-color: $grey-6;
      }
      .pack-info {
        span {
          color: $grey-3;
        }
      }
    }
  }
}

@include media-max-width('lg') {
  .cars-search-form {
    .stick-to-bottom {
      bottom: 60px;
      margin-left: -25px;
      margin-right: -25px;
      padding-left: 17.5px;
      padding-right: 17.5px;
    }
  }

  .car-body-shortcuts {
    font-size: 13px;
  }

  .car-option-packs {
    .pack-item {
      padding: 8px 4px 8px 8px;;
      .pack-info span,
      .pack-info strong {
        font-size: 12px;
      }
      .pack-icon {
        font-size: 28px;
        margin-right: 8px;
      }
    }
  }
}

@include media-min-width('lg') {
  .car-body-shortcuts {
    .col-lg-auto {
      width: 20%;
    }
  }

  .has-add-btn,
  .has-remove-btn {
    & > .col {
      max-width: calc(100% - 54px);
    }
  }
  .has-add-btn.has-remove-btn {
    & > .col {
      max-width: calc(100% - 89px);
    }
  }
}