.cars-search-form {
  .stick-to-bottom {
    position: sticky;
    z-index: 2;
    bottom: 0;
    left: 0;
    background-color: $white;
    border-top: 1px solid $grayish-blue-2;
    margin-left: -25px;
    margin-right: -25px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.car-body-shortcuts {
  &:hover,
  &.has-value {
    .shortcut {
      opacity: .4;
    }
  }
  .shortcut {
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    transition: opacity .2s ease-out, transform .2s ease-out;
    &:hover,
    &.active {
      transform: scale(1.03);
    }
    &.active {
      color: $dark-blue-2;
      opacity: 1;
    }
    &:not(.active):hover {
      opacity: .7;
    }
  }
}

.car-option-packs {
  padding: 15px 0;
  .pack-item {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    min-height: 72px;
    border: 1px solid $grayish-blue-4;
    border-radius: 4px;
    padding: 8px 15px;
    &.active {
      background-color: $grayish-blue-2;
    }
    .pack-info {
      width: 100%;
      strong {
        display: block;
        font-weight: 500;
      }
      span {
        color: $dark-blue-3;
        font-size: 13px;
      }
    }
    .pack-icon {
      flex-shrink: 0;
      font-size: 40px;
      margin-right: 15px;
      i {
        display: flex;
      }
    }
  }
}

.dark-mode {
  .cars-search-form {
    .stick-to-bottom {
      background-color: $dark-2;
      border-top-color: $dark-1;
    }
  }
  .car-body-shortcuts .shortcut.active {
    color: $yellow-1;
  }
  .car-option-packs {
    padding: 15px 0;
    .pack-item {
      border-color: $grey-1;
      &.active {
        background-color: $grey-6;
      }
      .pack-info {
        span {
          color: $grey-3;
        }
      }
    }
  }
}

@include media-max-width('lg') {
  .cars-search-form {
    .stick-to-bottom {
      bottom: 60px;
      margin-left: -25px;
      margin-right: -25px;
      padding-left: 17.5px;
      padding-right: 17.5px;
    }
  }

  .car-body-shortcuts {
    font-size: 13px;
  }

  .car-option-packs {
    .pack-item {
      padding: 8px;
      .pack-info span,
      .pack-info strong {
        font-size: 12px;
      }
      .pack-icon {
        font-size: 28px;
        margin-right: 8px;
      }
    }
  }
}

@include media-min-width('lg') {
  .car-body-shortcuts {
    .col-lg-auto {
      width: 20%;
    }
  }
}