.accordion {
  &__item {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
    &--active {
      .accordion__header {
        border-radius: 4px 4px 0 0;
      }
    }
  }
  &__header {
    padding: 0 25px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background-color: $white;
    color: $dark-blue-1;
    &:hover {
      cursor: pointer;
    }
    &__title {
      font-size: 15px;
      font-weight: 500;
    }
    &__toggle {
      i {
        transition: ease-in-out;
        transition-duration: 0.3s;
        transform-origin: center;
        transform: rotate(0deg);
        &:before {
          margin: 0;
        }
      }
      &--active i{
        transform: rotate(180deg);
      }
    }
  }
  &__body {
    padding: 17px 25px 14px;
    border-top: 1px solid $greyish-blue-3;
    border-radius: 0 0 4px 4px;
    background-color: $white;
    font-size: 14px;
    font-weight: 400;
  }
}
