.homePage {
  &-slide-item {
    height: 350px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background: #d0dbf9;
    &-left {
      width: 50%;
      background: #d0dbf9;
      img,video {
        clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      video{
        transform: scale(1.01);
      }
    }
    &-right {
      width: 50%;
      position: relative;
      background: #d0dbf9;
      // clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      // transform: translateX(-190px);
    }
  }
  // &-slide-right > .before-slider-right {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 2px;
  //   transform: translateX(-100%);
  //   height: 100%;
  //   border-left: 135px solid transparent;
  // }
  &-slide-right {
    display: flex;
    align-items: center;
  }
  &-text-section {
    width: 50%;
    margin-top: -20px;
    margin-left: 3px;
    &-title {
      display: flex;
      align-items: center;
    }
    h3 {
      font-size: 36px;
      margin-left: 9px;
    }
    p {
      font-size: 20px;
      line-height: 30px;
    }
    img {
      margin-top: -8px;
    }
  }
}

.dark-mode {
  .homePage-slide-right {
    background: $dark-2;
  }
  .homePage-slide-right .before-slider-right {
    border-top: 600px solid $dark-2 !important;
  }
  .swiper-pagination-bullet {
    background: gray;
  }
  .swiper-pagination-bullet-active {
    background: $white !important;
  }
}

.swiper-pagination {
  left: 77px !important;
  width: 100%;
  bottom: 25px !important;

  &-bullet {
    margin-left: 5px !important;
    width: 12px;
    height: 12px;

    &-active {
      background: #081a3e !important;
    }
  }
}

.mobileHomePage {
  &-slide-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &-slide-left {
    height: auto;
    width: 50%;
    padding: 15px;
  }
  &-slide-right {
    width: 50%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (min-width: 1680px) {
  .homePage-slide-left {
    img {
      width: 100%;
      height: calc(100% - 2px);
      object-fit: cover;
    }
  }
}
@media screen and (max-width: 1024px) {
  .homePage {
    &-slide-item {
      height: 320px;
      // flex-direction: row-reverse;
    }
    &-slide-right {
      display: flex;
      align-items: center;
    }
    &-text-section {
      width: 50%;
      margin-top: 0px;
      margin-left: 3px;
      &-title {
        display: flex;
        align-items: center;
      }
      h3 {
        font-size: 18px;
        margin-left: 9px;
      }
      p {
        font-size: 16px;
        line-height: 30px;
      }
      img {
        margin-top: -8px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .swiper-container {
    .homePage-text-section {
      width: 150px;
      transform: scale(1);
      &-title {
        img {
          transform: scale(0.7);
        }
        h3 {
          font-size: 16px;
          line-height: 16px !important;
        }
      }
      p {
        font-size: 13px !important;
        line-height: 18px !important;
        margin-bottom: 6px;
      }
      .btn {
        i {
          display: none;
        }
        font-size: 11px;
      }
    }
    .homePage {
      &-slide-item {
        height: 170px;
        &-left {
        }
        &-right {
        }
      }
    }
  }
}

@media screen and (min-width: 1990px) {
  .homePage {
    &-slide-item {
      height: 350px;
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      background: #d0dbf9;
      &-right {
        justify-content: flex-start;

        padding-left: 200px;
        // transform: translateX(-190px);
      }
    }
    &-text-section {
      width: 400px;
      transform: scale(1.2);
      &-title {
        display: flex;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .swiper-container {
    .homePage-text-section {
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      &-title {
        margin-left: -5px;
        img {
          transform: scale(0.6);
        }
        h3 {
          font-size: 15px !important;
          line-height: 16px !important;
          margin-left: 2px !important;
        }
      }
      p {
        font-size: 13px !important;
        line-height: 14px !important;
      }
      .btn {
        i {
          display: none;
        }
        font-size: 9px;
      }
    }
    .homePage {
      &-slide-item {
        height: 170px;
        &-left {
          width: 40%;
        }
        &-right {
          width: 60%;
        }
      }
    }
  }
}
