.fslightbox-fade-in {
    animation: fslightbox-fade-in 0.3s cubic-bezier(0, 0, 0.7, 1);
}

.fslightbox-absoluted {
    overflow: hidden;
}

.fslightbox-fade-out {
    animation: fslightbox-fade-out 0.3s ease;
}

.fslightbox-fade-in-strong {
    animation: fslightbox-fade-in-strong 0.3s cubic-bezier(0, 0, 0.7, 1);
}

.fslightbox-fade-out-strong {
    animation: fslightbox-fade-out-strong 0.3s ease;
}

@keyframes fslightbox-fade-in {
    from {
        opacity: 0.65;
    }
    to {
        opacity: 1;
    }
}

@keyframes fslightbox-fade-out {
    from {
        opacity: 0.35;
    }
    to {
        opacity: 0;
    }
}

@keyframes fslightbox-fade-in-strong {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

@keyframes fslightbox-fade-out-strong {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fslightbox-scale-in {
    animation: fslightbox-scale-in 0.5s ease;
}

@keyframes fslightbox-scale-in {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.fslightbox-absoluted {
    position: absolute;
    top: 0;
    left: 0;
}

.fslightbox-cursor-grabbing {
    cursor: grabbing !important;
}

.fslightbox-full-dimension {
    width: 100%;
    height: 100%;
}

// .fslightbox-open {
//   overflow: hidden;
//   height: 100%;
// }
.fslightbox-flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fslightbox-opacity-0 {
    opacity: 0 !important;
}

.fslightbox-opacity-1 {
    opacity: 1 !important;
}

.fslightbox-scrollbarfix {
    padding-right: 17px;
}

.fslightbox-transform-transition {
    transition: transform 0.3s;
}

.fslightbox-container {
    font-family: Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    // background: rgba($dark-blue-1, 0.3);
    z-index: 30;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.fslightbox-container * {
    box-sizing: border-box;
}

.fslightbox-svg-path {
    transition: fill 0.15s ease;
    fill: #fff;
}

.fslightbox-loader {
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 67px;
    height: 67px;
}

.fslightbox-loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 54px;
    height: 54px;
    margin: 6px;
    border: 5px solid;
    border-color: $red-1 transparent transparent transparent;
    border-radius: 50%;
    animation: fslightbox-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.fslightbox-loader div:nth-child(1) {
    animation-delay: -0.45s;
}

.fslightbox-loader div:nth-child(2) {
    animation-delay: -0.3s;
}

.fslightbox-loader div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes fslightbox-loader {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fslightbox-thumbs-loader {
    width: 54px !important;
    height: 54px !important;
}

.fslightbox-thumbs-loader div {
    border-width: 4px !important;
    width: 44px !important;
    height: 44px !important;
}

.fslightbox-nav {
    height: 65px;
    width: 100%;
    transition: opacity 0.3s;
    opacity: 1 !important;
}

.fslightbox-slide-number-container {
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 3;
    height: 100%;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-align: left;
}

.fslightbox-slide-number-container .fslightbox-flex-centered {
    height: 100%;
}

.fslightbox-slash {
    display: block;
    margin: 0 5px;
    width: 1px;
    height: 12px;
    transform: rotate(15deg);
    background: #fff;
}

.fslightbox-toolbar {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    height: 65px;
    display: flex;
}

.fslightbox-toolbar-button {
    height: 100%;
    width: 42px;
    cursor: pointer;
}

.fslightbox-toolbar-button:hover .fslightbox-svg-path {
    fill: #fff;
}

.fslightbox-slide-btn-container {
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 6px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 3;
    transform: translateY(-50%);
    transition: opacity 0.3s;
    opacity: 1 !important;
}

.fslightbox-slide-btn-container:hover .fslightbox-svg-path {
    fill: #f1f1f1;
}

.fslightbox-slide-btn {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($dark-blue-1, 0.15);
    transition: .3s background;

    &:hover {
        background: rgba($dark-blue-1, 0.3);
    }
}

.dark-mode {
    .fslightbox-slide-btn {
        background: rgba($dark-1, 0.5);

        &:hover {
            background: $dark-1;
        }
    }
}

.fslightbox-slide-btn-container-previous {
    left: 0;
    padding-left: 15px;
}

.fslightbox-slide-btn-container-next {
    right: 0;
    padding-right: 15px;
}

.fslightbox-down-event-detector {
    position: absolute;
    z-index: 1;
}

.fslightbox-slide-swiping-hoverer {
    z-index: 4;
}

.fslightbox-slideshow-bar {
    width: 0;
    height: 2px;
    z-index: 4;
    opacity: 0;
    background: $red-1;
    transition: opacity 0.4s;
}

.fslightbox-invalid-file-wrapper {
    font-size: 24px;
    color: #eaebeb;
    margin: auto;
}

.fslightbox-video {
    object-fit: cover;
}

.fslightbox-youtube-iframe {
    border: 0;
}

.fslightbox-source {
    position: relative;
    margin: auto;
    z-index: 2;
    opacity: 0;
    cursor: zoom-in;
    transform: translateZ(1px);
    transition: transform 0.3s;
    backface-visibility: hidden;
}

.fslightbox-source-wrappers-container {
    transition: transform 0.2s linear;
    z-index: 2;
}

.fslightbox-source-wrappers-container-pinching {
    transition-duration: 0.1s;
}

.fslightbox-thumbs {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), #1e1e1e 100%);
    opacity: 0;
    transition: opacity 0.2s;
    padding: 0 5px 12px 5px;
    height: 114px;
}

@media (min-width: 1025px) {
    .fslightbox-thumbs {
        padding-bottom: 13px;
        height: 120px;
    }
}

@media (min-width: 1600px) {
    .fslightbox-thumbs {
        padding-bottom: 14px;
        height: 126px;
    }
}

.fslightbox-thumbs-active {
    opacity: 1;
    z-index: 3;
}

.fslightbox-thumbs-inner {
    height: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.fslightbox-thumb-wrapper {
    position: relative;
    height: 100%;
    margin: 0 4px;
    opacity: 0;
    transition: opacity 0.3s;
}

.fslightbox-thumb-wrapper svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
}

.fslightbox-thumb-wrapper path {
    fill: #fff;
}

.fslightbox-thumb-wrapper-darkener {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.fslightbox-thumb {
    cursor: pointer;
    border-radius: 1px;
    height: 100%;
    width: auto !important;
    border: 2px solid transparent;
}

.fslightbox-thumb-active {
    border: 2px solid $red-1 !important;
}

.fslightbox-thumb-invalid {
    background: linear-gradient(to bottom, #0f0f0f, rgba(15, 15, 15, 0.5));
    display: inline-block;
    min-width: 155px;
}

.fslightbox-thumbs-cursorer {
    z-index: 4;
    cursor: grabbing;
}

.fslightbox-caption {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), #1e1e1e 100%);
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s;
    z-index: -1;
}

.fslightbox-caption-inner {
    padding: 25px;
    max-width: 1200px;
    color: #eee;
    text-align: center;
    font-size: 14px;
}

@media (min-width: 768px) {
    .fslightbox-caption-inner {
        padding: 30px 25px;
    }
}

.fslightbox-caption-active {
    opacity: 1;
    z-index: 3;
}

.blur-bg {
    position: fixed;
    z-index: 29;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    pointer-events: none;
    background-color: $grey-8;

    img {
        position: absolute;
        top: -10%;
        left: -10%;
        width: 120%;
        height: 120%;
        object-fit: cover;
        filter: blur(15px);
    }

    &_slider {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 31;
        //padding-top: 25px;
        overflow: auto;
        background-color: #030A17;

        &.fade-leave-to,
        &.fade-leave-active {
            transition: 0s;
            opacity: 0;
        }
    }

    &_announcement-info {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 31;
        pointer-events: none;

        .btn {
            pointer-events: all;
        }
    }
}

.dark-mode {
    .blur-bg {
        background-color: $dark-1;
    }
}

@include media-max-width('lg') {
    .blur-bg {
        img {
            display: none;
        }
    }

    .fslightbox-source {
        border-radius: 4px;
    }

    .fslightbox-slide-btn-container-previous {
        padding-left: 30px;
    }

    .fslightbox-slide-btn-container-next {
        padding-right: 30px;
    }
}
