.map-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include calc-vh(min-height, calc(100vh));
  .static-map {
    max-width: 100%;
    margin: 0 auto;
  }
  .map {
    position: relative;
    width: 100%;
    max-width: 1200px;
    @include calc-vh(height, calc(100vh - 50px));
    overflow: hidden;
    #map {
      @include abs-zero;
    }
    // [class*=copyrights-pane] {
    //   display: none;
    // }
  }
}

@include media-max-width('lg') {
  
}