.color-options {
  .color {
    display: block;
    cursor: pointer;
    width: 100%;
    padding-bottom: 100%;
    border: 1px solid $greyish-blue-4;
    border-radius: 4px;
    span:not(.sr-only), i {
      @include abs-middle;
      font-size: 13px;
      font-weight: 500;
    }
    &.selected {
      color: #296FD4 !important;
      border-color: #296FD4 !important;
      &.contrast {
        color: #FFCE00 !important;
        border-color: #FFCE00 !important;
      }
    }
  }
}

.model-options {
  & > .container {
    height: 100%;
  }
  .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .popular-option {
    text-align: center;
    margin-bottom: 24px;
    cursor: pointer;
    .img {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      margin-right: 14px;
      margin: 0 auto 8px;
    }
  }
  &_option {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 34px;
    user-select: none;
    height: 50px;
    border-top: 1px solid $greyish-blue-2;
    &:first-child {
      border-top: 0;
    }
    .img {
      width: 28px;
      height: 28px;
      flex-shrink: 0;
      margin-right: 14px;
    }
    &.disabled {
      cursor: default;
    }
  }
}

.year-options {
  .col-auto {
    width: 10%;
  }
}

.damage-options {
  .car-damage {
    &-img {
      width: 260px;
      flex-shrink: 0;
      margin-right: 45px;
      position: relative;
      .roof .roof, 
      .front .front,
      .rear .rear, 
      .left-door-rear .left-door-rear, 
      .left-door-front .left-door-front, 
      .right-door-rear .right-door-rear, 
      .right-door-front .right-door-front {
        stroke: $dark-blue-2;
      }
    }
    &-text {
      width: 100%;
      font-weight: 500;
      & > div:not(:last-child) {
        margin-bottom: 18px;
      }
      h4 {
        color: $dark-blue-2;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 8px;
      }
    }
  }
  .car-part {
    position: absolute;
    &_front,
    &_rear,
    &_roof {
      left: 50%;
      transform: translate(-50%);
    }
    &_front {
      top: 3.175%;
    }
    &_rear {
      bottom: 6.35%;
    }
    &_roof {
      bottom: 42.85%;
    }
    &_right-door-rear {
      bottom: 42.85%;
      right: 9.6%;
    }
    &_left-door-rear {
      bottom: 42.85%;
      left: 9.6%;
    }
    &_right-door-front {
      top: 38%;
      right: 9.6%;
    }
    &_left-door-front {
      top: 38%;
      left: 9.6%;
    }
    &_point {
      display: block;
      position: relative;
      border: 1px solid $dark-blue-2;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      &:not(.read-only) {
        cursor: pointer;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $dark-blue-2;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        background-image: url('/icons/pencil.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 54%;
      }
      &:not(.selected) {
        border-color: $green-1;
        &::after {
          background-color: $green-1;
          background-image: url('/icons/plus-small.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 60%;
        }
      }
    }
  }
}



@include media-max-width('lg') {
  .model-options {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    &_option {
      padding: 0 34px 0 0;
    }
  }

  .damage-options {
    .car-damage {
      &-img {
        margin-right: 0;
        margin: 0 auto 20px;
      }
      &-text {
        width: 100%;
      }
    }
  }
}

@include media-min-width('lg') {
  .color-options {
    .col-lg-auto {
      width: 65px;
    }
  }
  .model-options {
    &_option {
      border: 0;
      &:not(.disabled):hover {
        color: $dark-blue-2;
      }
    }
    .popular-option:hover {
      color: $dark-blue-2;
    }
    .row.pt-3 {
      padding-left: 37px;
      padding-right: 37px;
    }
  }

  .dark-mode {
    .model-options {
      &_option {
        &:not(.disabled):hover {
          color: $yellow-1;
        }
      }
      .popular-option:hover {
        color: $yellow-1;
      }
    }
  }
}

.dark-mode {
  .selectable-block {
    border-color: $grey-1;
    &:hover {
      background-color: $grey-6;
    }
    &.active {
      background-color: $grey-2;
    }
  }
}