.color-options {
  .color {
    display: block;
    cursor: pointer;
    width: 100%;
    padding-bottom: 100%;
    border: 1px solid $greyish-blue-4;
    border-radius: 4px;
    span:not(.sr-only), i {
      @include abs-middle;
      font-size: 13px;
      font-weight: 500;
    }
    &.selected {
      color: #296FD4 !important;
      border-color: #296FD4 !important;
      &.contrast {
        color: #FFCE00 !important;
        border-color: #FFCE00 !important;
      }
    }
  }
}

.model-options {
  & > .container {
    height: 100%;
  }
  .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .popular-option {
    text-align: center;
    margin-bottom: 24px;
    cursor: pointer;
    .img {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      margin-right: 14px;
      margin: 0 auto 8px;
    }
  }
  &_option {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 34px;
    user-select: none;
    height: 50px;
    border-top: 1px solid $greyish-blue-2;
    &:first-child {
      border-top: 0;
    }
    .img {
      width: 28px;
      height: 28px;
      flex-shrink: 0;
      margin-right: 14px;
    }
    &.disabled {
      cursor: default;
    }
  }
}

.year-options {
  .col-auto {
    width: 10%;
  }
}

.dark-mode {
  .color-options {
    .color {
      border-color: $greyish-blue-4;
      &.selected {
        color: $grey-1 !important;
        border-color: $grey-1 !important;
        &.contrast {
          color: #FFCE00 !important;
          border-color: #FFCE00 !important;
        }
      }
    }
  }

  .model-options {
    .img {
      background-color: $white;
      border-radius: 4px;
      padding: 4px;
    }
    &_option {
      border-top-color: $dark-2;
    }
  }
}

@include media-max-width('lg') {
  .model-options {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    &_option {
      padding: 0 34px 0 0;
    }
  }

  .dark-mode {
    .model-options {
      .select-menu_label,
      .text-input input {
        background-color: $dark-2;
      }
    }
  }
}

@include media-min-width('lg') {
  .color-options {
    .col-lg-auto {
      width: 65px;
    }
  }
  .model-options {
    &_option {
      border: 0;
      &:not(.disabled):hover {
        color: $dark-blue-2;
      }
    }
    .popular-option:hover {
      color: $dark-blue-2;
    }
    .row.pt-3 {
      padding-left: 37px;
      padding-right: 37px;
    }
  }

  .dark-mode {
    .model-options {
      &_option {
        &:not(.disabled):hover {
          color: $yellow-1;
        }
      }
      .popular-option:hover {
        color: $yellow-1;
      }
    }
  }
}