.collapse-content {
  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $dark-blue-2;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    user-select: none;
    cursor: pointer;
  }
  p {
    font-size: 15px;
    margin-bottom: .5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.dark-mode {
  .collapse-content h3 {
    color: $grey-4;
  }
}


.loader {
  display: block;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 67px;
  height: 67px;
}
.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 54px;
  height: 54px;
  margin: 6px;
  border: 5px solid;
  border-color: $red-1 transparent transparent transparent;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loader {
  0% {
      transform: rotate(0);
  }
  100% {
      transform: rotate(360deg);
  }
}

@include media-max-width('lg') {
  .collapse-content {
    h3 {
      font-size: 14px;
    }
    p {
      font-size: 13px;
    }
  }
}