.collapse-content {
  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $dark-blue-2;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    user-select: none;
    cursor: pointer;
  }
  p {
    font-size: 15px;
    margin-bottom: .5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.mobile-screen {
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 20;
  width: 100%;
  width: calc(100% + 1px);
  height: 100%;
  left: 50%;
  min-width: 320px;
  transform: translate(-50%);
  top: 0;
  background-color: $white;
  padding: 61px 0 0;
  & > .container {
    overflow-x: hidden;
  }
  .container.has-min-height {
    min-height: 100%;
    & > div {
      min-height: 100%;
    }
  }
}

.stick-to-screen-bottom {
  position: sticky;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 13px 0;
  background-color: $white;
  border-top: 1px solid $greyish-blue-3;
  margin-top: auto;
}

.flex-stretch-chilren {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.has-sticky-screen-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.dark-mode {
  .stick-to-screen-bottom {
    background-color: $dark-2;
    border-top-color: $dark-1;
  }
}

.select-menu-open {
  .mobile-screen {
    // overflow: hidden;
  }
}

.paid-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .top {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 540px;
    padding: 25px;
    left: 50%;
    transform: translate(-50%);
    text-align: right;
    span {
      display: inline-block;
      font-size: 16px;
    }
  }
  .status-text {
    display: flex;
    align-items: center;
    width: 270px;
    margin: 0 auto;
    div {
      width: 100%;
    }
    h4 {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 2px;
    }
    p {
      margin-bottom: 0;
    }
    i {
      font-size: 37px;
      margin-right: 15px;
    }
  }
  &.full-screen {
    position: fixed;
    overflow-y: auto;
    z-index: 41;
    width: 100%;
    width: calc(100% + 1px);
    height: 100%;
    left: 50%;
    min-width: 320px;
    transform: translate(-50%);
    top: 0;
    color: $white;
    &.error {
      background-color: $red-1;
    }
    &.success {
      background-color: $green-1;
    }
  }
  &.in-popup {
    padding-bottom: 40px;
    &.error {
      h4, i {
        color: $red-1;
      }
    }
    &.success {
      h4, i {
        color: $green-1;
      }
    }
  }
}

.dark-mode {
  .mobile-screen {
    background-color: $dark-2;
  }
}

.list-line-separated {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $greyish-blue-3;
    padding: 1em 0;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
    i {
      flex-shrink: 0;
      margin-right: 10px;
      &:not(.text-dark-blue-2) {
        color: $red-1;
      }
      &.icon-unblock {
        font-size: 1.61em;
      }
    }
  }
}

.modal-popup {
  @include abs-middle(fixed, 50);
  width: 346px;
  max-width: 100%;
  background-color: $white;
  border-radius: 4px;
  margin: 0 auto;
  &.wider {
    width: 680px;
  }
  &_scrollview {
    @include calc-vh(max-height, calc(100vh - 170px));
  }
  &_content {
    padding: 25px;
    ul, ol {
      padding-left: 25px;
      line-height: 2;
    }
    .title {
      margin-bottom: 20px;
      font-size: 12px;
      h4 {
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0;
      }
      .close {
        padding-top: 6px;
        margin-left: 10px;
        flex-shrink: 0;
        &:first-child {
          margin-left: auto;
        }
      }
    }
    .form {
      strong {
        font-weight: 500;
      }
      h4 {
        font-size: 16px;
        font-weight: 500;
        margin: 15px 0;
      }
      .total-price {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        strong {
          font-size: 14px;
          color: $dark-blue-2;
          font-weight: 500;
        }
      }
    }
  }
  &.larger {
    width: 590px;
  }
  &.modal-container {
    width: 1200px;
  }
}

.modal-card {
  padding: 23px 25px;
  border: 1px solid $greyish-blue-3;
  border-radius: 4px;
  margin-bottom: 20px;
  p {
    margin-bottom: 0;
  }
}

.modal-sticky-bottom {
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: $white;
}

.dark-mode {
  .modal-card {
    border-color: $dark-1;
  }
  .modal-sticky-bottom {
    background-color: $dark-2;
  }
}

.dark-mode {
  .collapse-content h3 {
    color: $grey-4;
  }

  .modal-popup {
    background-color: $dark-2;
    &_content {
      .form {
        .total-price {
          strong {
            color: $white;
          }
        }
      }
    }
  }

  .list-line-separated {
    li {
      border-color: $dark-1;
    }
  }
}

.selectable-block {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-height: 72px;
  border: 1px solid $greyish-blue-4;
  border-radius: 4px;
  padding: 8px 15px;
  transition: background .1s ease-out;
  &:hover {
    background-color: $greyish-blue-2;
  }
  &.active {
    background-color: $greyish-blue-3;
  }
  &.disabled {
    opacity: .25;
    pointer-events: none;
  }
  .block-info {
    display: block;
    width: 100%;
    font-weight: 500;
    hyphens: auto;
  }
  .block-icon {
    flex-shrink: 0;
    font-size: 55px;
    margin-right: 10px;
    i {
      display: flex;
      &.icon-parts {
        font-size: .7em;
      }
    }
  }
  &.icons-only {
    padding: 0 !important;
    justify-content: center;
    .block-icon {
      margin-right: 0 !important;
    }
  }
}

.dark-mode {
  .selectable-block {
    border-color: $grey-1;
    &:hover {
      background-color: $grey-6;
    }
    &.active {
      background-color: $grey-2;
    }
  }
}

.loader {
  display: block;
  margin: auto;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 67px;
  height: 67px;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 54px;
    height: 54px;
    margin: 6px;
    border: 5px solid;
    border-color: $red-1 transparent transparent transparent;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

.infinite-loading {
  position: relative;
  width: 100%;
  height: 67px;
}

@keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@include media-max-width('lg') {
  .collapse-content {
    h3 {
      font-size: 14px;
    }
    p {
      font-size: 13px;
    }
  }

  .modal-popup {
    &,
    &.wider,
    &.larger,
    &.modal-container {
      width: 100%;
      width: calc(100% + 1px);
    }
    max-width: 540px;
    bottom: 0px;
    top: auto;
    transform: translate(-50%, 0px);
    border-radius: 4px 4px 0 0;
    &.translate-fade-enter-active {
      transform: translate(-50%, 0);
    }
    &.translate-fade-enter {
      transform: translate(-50%, 50px);
    }
    &.translate-fade-enter-active, 
    &.translate-fade-leave-active {
      transition: transform .3s ease-out, opacity .2s cubic-bezier(.53,2,.36,.85);
    }
    &_content {
      .title {
        h4 {
          font-size: 16px;
        }
      }
    }
  }

  .selectable-block {
    padding: 8px;
    .block-info {
      font-size: 12px;
    }
    .block-icon {
      font-size: 50px;
      margin-right: 8px;
    }
  }
}

.popover {
  &-wrapper {
    width: 15px;
    display: inline-block;
    position: relative;
    i {
      transform: none !important;
      position: static !important;
      pointer-events: all !important;
      top: auto !important;
    }
  }
  &-title {
    cursor: pointer;
    display: flex;
    align-items: center;
    .svg-icon {
      font-size: 15px !important;
    }
  }
  &-message {
    display: block;
    font-size: 14px;
    margin: 0 auto !important;
  }
  &-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 100%; 
    top: 100%;
    background-color: $greyish-blue-2;
    padding: 20px 15px;
    box-shadow: $shadow-light-7;
    max-width: 320px;
    margin-left: -30px;
    margin-top: 15px;
    border-radius: 4px;
    &_triangle {
      position: absolute;
      top: -10px;
      color: $greyish-blue-2;
      transform: rotate(180deg);
    }
    &.show {
      z-index: 8;
      opacity: 1;
      visibility: visible;
      // transform: translate(-50%, 10px);
      transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
    }
    svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.upload-image {
  .draggable &_thumbnail {
    cursor: move;
  }
  &_thumbnail {
    width: 100%;
    padding-bottom: 76.36%;
    position: relative;
    border-radius: 4px;
    background-color: $greyish-blue-2;
    overflow: hidden;
    user-select: none;
    .overlay {
      @include abs-zero;
      display: flex;
      cursor: pointer;
      padding: 10px;
      justify-content: space-between;
      align-items: flex-start;
      pointer-events: none;
      .btn-sq {
        width: 34px;
        height: 34px;
        pointer-events: all;
        background: rgba($white, 0.6);
        // backdrop-filter: blur(40px);
        &.disabled {
          opacity: .5;
          pointer-events: none;
        }
        &:hover {
          background: rgba($white, 1);
        }
        i {
          font-size: 16px;
          &.icon-reset {
            transform: scaleX(-1) rotate(-60deg);
          }
        }
      }
    }
    &.add-image {
      .overlay {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $dark-blue-3;
        i {
          font-size: 24px;
        }
        p {
          margin: 1em 0 0;
          &:nth-of-type(2) {
            font-size: 11px;
          }
        }

      }
    }
    &.helper {
      img {
        @include abs-middle;
        width: auto;
        height: auto;
      }
    }
    img {
      @include abs-zero;
      object-fit: cover;
    }
  }
  .col-auto:nth-child(5) &_thumbnail .helper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    transform: none;
  }
  &.dragover &_thumbnail {
    &.add-image,
    &.helper {
      background-color: $greyish-blue-3;
    }
  }
}

.form-gallery {
  // WIP
  &2 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .draggable > div {
    cursor: move;
  }
  &_thumbnail {
    width: 100%;
    padding-bottom: 58.73%;
    position: relative;
    border-radius: 4px;
    background-color: $greyish-blue-2;
    overflow: hidden;
    user-select: none;
    .overlay {
      @include abs-zero;
      display: flex;
      cursor: pointer;
      padding: 10px;
      justify-content: space-between;
      align-items: flex-start;
      pointer-events: none;
      .btn-sq {
        pointer-events: all;
        background: rgba($white, 0.6);
        // backdrop-filter: blur(40px);
        &.disabled {
          opacity: .5;
          pointer-events: none;
        }
        &:hover {
          background: rgba($white, 1);
        }
        i {
          font-size: 12px;
          &.icon-reset {
            transform: scaleX(-1) rotate(-60deg);
          }
        }
      }
    }
    &.add-image {
      .overlay {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $dark-blue-3;
        i {
          font-size: 20px;
        }
        p {
          margin: 8px 0 0;
          font-size: 13px;
          font-weight: 500;
          &:nth-of-type(2) {
            font-size: 11px;
          }
        }

      }
    }
    img {
      @include abs-zero;
      object-fit: cover;
    }
  }
  &.dragover &_thumbnail {
    &.add-image {
      background-color: $greyish-blue-3;
    }
  }
}

.form-image {
  position: relative;
  border-radius: 4px;
  background-color: $greyish-blue-2;
  overflow: hidden;
  user-select: none;
  .drop-file {
    position: absolute;
    z-index: 1;
    bottom: 9px;
    right: 9px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    color: $dark-blue-3;
    border: 1px solid $greyish-blue-4;
    background-color: $white;
    pointer-events: none;
  }
  .croppa-image {
    &.croppa--has-target {
      cursor: move;
    }
    .drop-file {
      pointer-events: all;
    }
    .placeholder {
      @include abs-middle;
      font-size: 20px;
      opacity: .25;
      i {
        display: block;
      }
    }
  }
  input {
    clip: auto;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  img {
    @include abs-zero;
    object-fit: cover;
    pointer-events: none;
  }
}

.dark-mode {
  .upload-image {
    .upload-image_thumbnail {
      background-color: $dark-1;
      &.add-image,
      &.helper {
        .overlay {
          color: $grey-4;
        }
      }
    }
    &.dragover .upload-image_thumbnail {
      &.add-image,
      &.helper {
        background-color: $grey-2;
      }
    }
  }
  .form-gallery {
    .form-gallery_thumbnail {
      background-color: $dark-1;
      &.add-image {
        .overlay {
          color: $grey-4;
        }
      }
    }
    &.dragover .form-gallery_thumbnail {
      &.add-image {
        background-color: $grey-2;
      }
    }
  }
  .form-image {
    background-color: $dark-1;
  }
  .popover {
    &-content {
      background-color: $dark-1;
      box-shadow: $shadow-dark-7;
      &_triangle {
        color: $dark-1;
      }
    }
  }
}

@include media-max-width('lg') {
  .popover {
    &-content {
      left: 100%; 
      top: 100%;
      transform: translate(-100%);
      margin-left: 20px;
      &_triangle {
        right: 22.5px;
      }
    }
  }
}

.not-found {
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 475px;
    max-width: 80%;
    margin: 0 auto 25px;
  }
  
  h1 {
    color: $red-1;
    font-size: 18px;
    font-weight: 500;
    margin: 25px 0;
  }
}
