@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons/icomoon.eot?ssadd');
  src:  url('../fonts/icons/icomoon.eot?ssadd#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?ssadd') format('truetype'),
    url('../fonts/icons/icomoon.woff?ssadd') format('woff'),
    url('../fonts/icons/icomoon.svg?ssadd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-flex;
  flex-shrink: 0;
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="path"] {
  font-style: normal !important;
}

.icon-car-1:before {
  content: "\e902";
}
.icon-moto-2:before {
  content: "\e903";
}
.icon-moto-1:before {
  content: "\e904";
}
.icon-moto-3:before {
  content: "\e905";
}
.icon-commercial-1:before {
  content: "\e906";
}
.icon-commercial-2:before {
  content: "\e907";
}
.icon-commercial-3:before {
  content: "\e908";
}
.icon-commercial-4:before {
  content: "\e909";
}
.icon-commercial-5:before {
  content: "\e90a";
}
.icon-commercial-6:before {
  content: "\e90b";
}
.icon-commercial-7:before {
  content: "\e90c";
}
.icon-commercial-8:before {
  content: "\e90d";
}
.icon-alert:before {
  content: "\e90e";
}
.icon-arrow-right:before {
  content: "\e90f";
}
.icon-arrow-top:before {
  content: "\e910";
}
.icon-azn:before {
  content: "\e911";
}
.icon-barter:before {
  content: "\e912";
}
.icon-burger:before {
  content: "\e913";
}
.icon-calendar:before {
  content: "\e914";
}
.icon-chat:before {
  content: "\e915";
}
.icon-check:before {
  content: "\e916";
}
.icon-compare:before {
  content: "\e917";
}
.icon-cross:before {
  content: "\e918";
}
.icon-cursor:before {
  content: "\e919";
}
.icon-exchange:before {
  content: "\e91a";
}
.icon-eye:before {
  content: "\e91b";
}
.icon-facebook:before {
  content: "\e91c";
}
.icon-flag:before {
  content: "\e91d";
}
.icon-home:before {
  content: "\e91e";
}
.icon-img:before {
  content: "\e91f";
}
.icon-alert-circle:before {
  content: "\e920";
}
.icon-instagram:before {
  content: "\e921";
}
.icon-map:before {
  content: "\e922";
}
.icon-moon:before {
  content: "\e923";
}
.icon-options:before {
  content: "\e924";
}
.icon-percent:before {
  content: "\e925";
}
.icon-phone-call:before {
  content: "\e926";
}
.icon-placeholder:before {
  content: "\e927";
}
.icon-plus-circle:before {
  content: "\e928";
}
.icon-premium:before {
  content: "\e929";
}
.icon-refresh:before {
  content: "\e92a";
}
.icon-reset:before {
  content: "\e92b";
}
.icon-search:before {
  content: "\e92c";
}
.icon-star:before {
  content: "\e92d";
}
.icon-telegram:before {
  content: "\e92e";
}
.icon-template:before {
  content: "\e92f";
}
.icon-twitter:before {
  content: "\e930";
}
.icon-user:before {
  content: "\e931";
}
.icon-vip:before {
  content: "\e932";
}
.icon-whatsapp:before {
  content: "\e933";
}
.icon-commercial-9:before {
  content: "\e934";
}
.icon-commercial-10:before {
  content: "\e935";
}
.icon-commercial-11:before {
  content: "\e936";
}
.icon-commercial-13:before {
  content: "\e937";
}
.icon-chevron-down:before {
  content: "\e938";
}
.icon-chevron-up:before {
  content: "\e939";
}
.icon-arrow-left:before {
  content: "\e93a";
}
.icon-chevron-left:before {
  content: "\e93b";
}
.icon-chevron-right:before {
  content: "\e93c";
}
.icon-check-circle:before {
  content: "\e93d";
}
.icon-plus:before {
  content: "\e93e";
}
.icon-settings:before {
  content: "\e93f";
}
.icon-logout:before {
  content: "\e940";
}
.icon-sun:before {
  content: "\e941";
}
.icon-triangle:before {
  content: "\e942";
}
.icon-minus:before {
  content: "\e943";
}
.icon-oil:before {
  content: "\e944";
}
.icon-seat:before {
  content: "\e945";
}
.icon-car-gearing:before {
  content: "\e946";
}
.icon-dashboard:before {
  content: "\e947";
}
.icon-link:before {
  content: "\e948";
}
.icon-crown:before {
  content: "\e949";
}
.icon-top:before {
  content: "\e94a";
}
.icon-analytics:before {
  content: "\e94b";
}
.icon-gas:before {
  content: "\e94c";
}
.icon-attachment:before {
  content: "\e94d";
}
.icon-automatic:before {
  content: "\e94e";
}
.icon-battery-charge:before {
  content: "\e94f";
}
.icon-bell:before {
  content: "\e950";
}
.icon-block:before {
  content: "\e951";
}
.icon-check1:before {
  content: "\e952";
}
.icon-circle:before {
  content: "\e953";
}
.icon-crown1:before {
  content: "\e954";
}
.icon-diesel:before {
  content: "\e955";
}
.icon-uniE954:before {
  content: "\e956";
}
.icon-uniE955:before {
  content: "\e957";
}
.icon-edit:before {
  content: "\e958";
}
.icon-envelope:before {
  content: "\e959";
}
.icon-fuel-station:before {
  content: "\e95a";
}
.icon-garbage:before {
  content: "\e95b";
}
.icon-hide:before {
  content: "\e95c";
}
.icon-info-circle:before {
  content: "\e95d";
}
.icon-line-chart:before {
  content: "\e95e";
}
.icon-mechanical:before {
  content: "\e95f";
}
.icon-minus-circle:before {
  content: "\e960";
}
.icon-minus-sign:before {
  content: "\e961";
}
.icon-photo:before {
  content: "\e962";
}
.icon-plug:before {
  content: "\e963";
}
.icon-robot:before {
  content: "\e964";
}
.icon-send:before {
  content: "\e965";
}
.icon-time:before {
  content: "\e966";
}
.icon-unblock:before {
  content: "\e967";
}
.icon-variator:before {
  content: "\e968";
}
.icon-reductor:before {
  content: "\e969";
}
.icon-camera:before {
  content: "\e96a";
}
.icon-policy:before {
  content: "\e96b";
}
.icon-book:before {
  content: "\e96c";
}
.icon-store:before {
  content: "\e96d";
}
.icon-calendar-1:before {
  content: "\e96e";
}
.icon-phone:before {
  content: "\e96f";
}
.icon-wallet:before {
  content: "\e970";
}
.icon-handshake:before {
  content: "\e971";
}
.icon-part-4:before {
  content: "\e972";
}
.icon-part-3:before {
  content: "\e973";
}
.icon-part-6:before {
  content: "\e974";
}
.icon-part-5:before {
  content: "\e975";
}
.icon-part-2:before {
  content: "\e976";
}
.icon-part-1:before {
  content: "\e977";
}
.icon-shop:before {
  content: "\e978";
}
.icon-parts:before {
  content: "\e979";
}
.icon-eur:before {
  content: "\e97a";
}
.icon-usd:before {
  content: "\e97b";
}
.icon-pie-chart:before {
  content: "\e97c";
}
.icon-money-left:before {
  content: "\e97d";
}
.icon-money-total:before {
  content: "\e97e";
}
.icon-money-used:before {
  content: "\e97f";
}
.icon-users:before {
  content: "\e980";
}
.icon-speaker:before {
  content: "\e981";
}
.icon-infinity:before {
  content: "\e982";
}
.icon-list:before {
  content: "\e983";
}
.icon-garage:before {
  content: "\e984";
}
.icon-support:before {
  content: "\e985";
}
.icon-video:before {
  content: "\e986";
}
.icon-bookmark-fill:before {
  content: "\e987";
}
.icon-bookmark-outline:before {
  content: "\e988";
}
.icon-chat-tab:before {
  content: "\e989";
}
.icon-catalog-tab:before {
  content: "\e98a";
}
.icon-garage-tab:before {
  content: "\e98b";
}
.icon-home-tab:before {
  content: "\e98c";
}
.icon-contact-tab:before {
  content: "\e98d";
}
.icon-favorites-tab:before {
  content: "\e98e";
}
.icon-helper-tab:before {
  content: "\e98f";
}
.icon-salons-tab:before {
  content: "\e990";
}
.icon-shops-tab:before {
  content: "\e991";
}
.icon-announce-tab:before {
  content: "\e992";
}
.icon-garage-new:before {
  content: "\e993";
}
.icon-wall-clock:before {
  content: "\e994";
}
.icon-hand-key:before {
  content: "\e995";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-announcement:before {
  content: "\e997";
}
.icon-order-history:before {
  content: "\e998";
}
.icon-stamp-rotated:before {
  content: "\e999";
}
.icon-receipe:before {
  content: "\e99a";
}
.icon-receipe-manat:before {
  content: "\e99b";
}
.icon-stamp:before {
  content: "\e99c";
}
.icon-globe:before {
  content: "\e99d";
}
.icon-download:before {
  content: "\e99e";
}
.icon-customs-calculator-police:before {
  content: "\e900";
  color: #246eb2;
}
.icon-compulsory-insurance-calculator:before {
  content: "\e901";
  color: #246eb2;
}
