body {
  color: $dark-blue-1;
  font-size: 14px;
  line-height: 1.35;
  font-weight: normal;
  font-family: 'Gilroy';
  background-color: $grayish-blue-1;
}

a {
  color: $dark-blue-2;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1 {
  font-size: 30px;
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer;
}

.pointer-events-none {
  pointer-events: none;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc((var(--vh, 1vh) * 100));
  footer {
    margin-top: auto;
  }
}

main {
  overflow: hidden;
}

.container {
  padding: 0 25px;
}

.card {
  background-color: $white;
  border-radius: 4px;
  padding: 25px;
  margin: 30px 0;
  &.no-bg {
    background-color: transparent;
  }
  &.no-pd {
    padding: 0;
  }
  &.no-mt {
    margin-top: 0;
  }
  &.no-mb {
    margin-bottom: 0;
  }
}

.text-center {
  text-align: center;
}

.info-text {
  position: relative;
  padding-left: 40px;
  max-width: 250px;
  .icon-info-circle {
    position: absolute;
    top: 1px;
    left: 16px;
  }
}

.menu,
.dropdown-menu {
  padding: 0;
  list-style: none;
}

.page-header {
  background-color: $white;
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  transition: box-shadow .1s ease-out;
  .topbar {
    background-color: $white;
    border-bottom: 1px solid $grayish-blue-1;
    & > .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
    }
    .logo {
      img {
        height: 15px;
        width: auto;
      }
    }
    nav {
      display: flex;
      align-items: center;
    }
    .user-menu {
      position: relative;
      cursor: pointer;
      width: 34px;
      margin-left: 50px;
      padding: 0;
      & > i {
        font-size: 15px;
      }
      &_list {
        position: absolute;
        z-index: 1;
        width: 300px;
        top: 100%;
        right: -81px;
        visibility: hidden;
        opacity: 0;
        padding-top: 10px;
        &-inner {
          background-color: $white;
          box-shadow: 0px 0px 15px rgba(8, 26, 62, 0.15);
          padding: 25px 25px 20px;
          border-radius: 4px;
          overflow: hidden;
        }
      }
      &:hover {
        .user-menu_list {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .langs-menu {
      position: relative;
      cursor: pointer;
      width: 60px;
      margin-left: 20px;
      &_list {
        position: absolute;
        z-index: 1;
        width: 60px;
        top: 100%;
        left: 0;
        visibility: hidden;
        opacity: 0;
        padding-top: 10px;
        &-inner {
          background-color: $white;
          box-shadow: 0px 0px 15px rgba(8, 26, 62, 0.15);
          border-radius: 4px;
          overflow: hidden;
          span {
            color: $dark-blue-1;
            display: block;
            line-height: 34px;
            text-align: center;
            cursor: pointer;
            &:hover {
              color: $red-1;
            }
          }
        }
      }
      &:hover {
        .langs-menu_list {
          visibility: visible;
          opacity: 1;
        }
        i {
          transform: scaleY(-1);
        }
      }
    }
    .menu {
      display: flex;
      align-items: center;
      margin: 0;
      & > li {
        &:not(:last-child) {
          margin-right: 30px;
        }
        a {
          display: flex;
          align-items: center;
          color: $dark-blue-1;
          &.active,
          &:hover {
            color: $red-1;
          }
        }
        i {
          font-size: 17px;
          margin-right: 8px;
        }
      }
    }
  }
  .navbar {
    background-color: $white;
    & > .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
    }
    .menu {
      display: flex;
      margin: 0 -25px;
      & > li {
        a {
          display: inline-flex;
          align-items: center;
          color: $dark-blue-1;
          &.active,
          &:hover {
            color: $red-1;
          }
        }
        & > a {
          line-height: 70px;
          white-space: nowrap;
          padding: 0 25px;
        }
      }
    }
    .dropdown-content {
      position: absolute;
      z-index: 1;
      width: 100%;
      top: 100%;
      left: 0;
      visibility: hidden;
      opacity: 0;
      background-color: $white;
      box-shadow: 0px 10px 15px rgba(8, 26, 62, 0.15);
      border-top: 1px solid $grayish-blue-1;
    }
    .menu > li:hover {
      & > a {
        color: $red-1;
        i {
          transform: scaleY(-1);
        }
      }
      .dropdown-content {
        visibility: visible;
        opacity: 1;
      }
    }
    .dropdown-menu {
      padding: 20px 0;
      li {
        padding-top: 10px;
        padding-bottom: 10px;
        i {
          width: 60px;
          font-size: 40px;
        }
      }
    }
  }
  &.has-shadow {
    box-shadow: 0px 0px 15px 3px rgba(8, 26, 62, 0.1);
  }
}

.page-footer {
  background-color: $dark-blue-1;
  color: $white;
  padding: 40px 0px;
  p {
    margin-top: 20px;
  }
  mark {
    display: block;
    margin-top: 20px;
    background: none;
    color: inherit;
    a {
      color: $yellow-1;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  h4 {
    color: $yellow-1;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
  }
  .menu {
    margin: 0;
    li {
      margin-top: 15px;
      a {
        color: $white;
        font-weight: 500;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .socials {
    margin: 25px -10px 20px;
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: $white;
      border: 1px solid $white;
      border-radius: 4px;
      width: 34px;
      height: 34px;
      margin: 0 10px;
      transition: .1s ease-out;
      &:hover {
        color: $dark-blue-1;
        background-color: $white;
      }
    }
  }
}

/** Toasts */

.toasted-container.top-right {
  top: 8px !important;
  right: 18px !important;
  .toasted.toasted-primary {
    position: relative;
    width: 440px;
    max-width: 100%;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 18px !important;
    padding: 8px 25px !important;
    padding-left: 46px !important;
    box-shadow: none !important;
    border-radius: 4px !important;
    min-height: 34px !important;
    &::after {
      position: absolute;
      top: 11px;
      left: 26px;
      font-size: 12px;
      font-weight: bold;
      @extend [class^="icon-"];
    }
    &.success {
      color: $green-1;
      background-color: $green-3;
      &::after {
        content: '\e93b';
      }
    }
    &.error {
      color: $red-1;
      background-color: $red-3;
      &::after {
        content: '\e91e';
      }
    }
  }
}

/** Breadcrumbs */

.breadcrumbs {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 60px;
    list-style: none;
    li {
      a {
        color: $dark-blue-1;
        &:hover {
          color: $dark-blue-2;
        }
      }
      &.active {
        color: $red-1;
      }
      .icon-chevron-right {
        display: inline-block;
        margin: 0 8px;
      }
    }
  }
}

/** Pagination */

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  list-style: none;
  li {
    margin-right: 5px;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      color: $dark-blue-1;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 2px;
      border: 1px solid #E6E8F2;
      &:focus {
        color: $dark-blue-2;
        border-color: #B8C0E6;
      }
    }
    &.active button {
      color: #fff;
      background-color: $dark-blue-1;
      border-color: transparent;
      pointer-events: none;
    }
    &.disabled button {
      color: #E7E9F2;
      pointer-events: none;
    }
  }
}

/** Transitions */

.fade-enter,
.fade-leave-to { 
  opacity: 0; 
}
.fade-enter-active,
.fade-leave-active { 
  transition: 0.5s;
}

.fade2-enter-active, 
.fade2-leave-active {
  transition: opacity .5s;
}
.fade2-enter, 
.fade2-leave-to {
  opacity: 0;
  transition-duration: 0s;
}

.slide-enter {
  opacity: 0;
  transform: translate3d(25px, 0, 0);
}
.slide-enter-active,
.slide-leave-active { 
  transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.slide-leave-to {
  opacity: 0;
  transform: translate3d(-25px, 0, 0);
}

.translate-fade-enter-active, 
.translate-fade-leave-active {
  transition: transform .5s cubic-bezier(.53,2,.36,.85), opacity .5s cubic-bezier(.53,2,.36,.85);
}
.translate-fade-enter, 
.translate-fade-leave-active {
  opacity: 0;
  transform: translateX(25px);
}

/** Responsive */

@include media-max-width('lg') {
  .page-header,
  .page-footer,
  .breadcrumbs {
    display: none;
  }
}