body {
  color: $dark-blue-1;
  font-size: 14px;
  line-height: 1.35;
  font-weight: normal;
  font-family: 'Gilroy', 'Montserrat';
  background-color: $greyish-blue-1;
  overflow-y: scroll;
}

[data-color-mode=dark] body {
  color: $white;
  background-color: $dark-1;
}

a {
  color: $dark-blue-2;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &.abs-link {
    @include abs-zero;
    z-index: 0;
  }
}

.dark-mode {
  a {
    color: $yellow-1;
    &.text-red {
      color: $red-1;
    }
    &.text-green {
      color: $green-1;
    }
  }
}

img {
  display: block;
  flex-shrink: 0;
}

button:focus {
  outline: none;
}

h1 {
  font-size: 30px;
  font-weight: 500;
}

h2 {
  &.title-with-line {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px;
    span {
      display: inline-block;
      position: relative;
      background-color: $white;
      padding-right: 25px;
      max-width: 90%;
    }
    &::before {
      content: '';
      @include abs-middle;
      top: 12px;
      width: 100%;
      border-bottom: 1px solid;
    }
    &.text-center {
      span {
        padding-left: 25px;
      }
    }
  }
}

.text-uppercase {
  text-transform: uppercase;
  input,
  textarea {
    text-transform: uppercase;
  }
}

.text-lowercase {
  text-transform: lowercase;
}

.skip-truncate {
  overflow: visible !important;
}

.fw-500 {
  font-weight: 500;
}

.dark-mode {
  h2.title-with-line {
    span {
      background-color: $dark-2;
    }
  }
}

hr {
  height: 1px;
  background-color: $greyish-blue-3;
  border: 0;
  margin: 20px 0;
  &.dashed {
    height: 0;
    border-bottom: 1px dashed $greyish-blue-3;
    background-color: transparent;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.user-select-none {
  user-select: none;
}

.pointer-events-none {
  pointer-events: none;
}

.opacity-0 {
  opacity: 0;
}

.round-4 {
  border-radius: 4px;
}

.keep-colors {
  &, &:hover {
    color: inherit;
  }
}

.dark-mode {
  .keep-colors {
    &, &:hover {
      color: inherit;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

.stratch-child-block {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  & > div {
    flex: 1;
  }
}

.wrapper {
  @include calc-vh(min-height, calc(100vh));
  &.loading {
    background-color: $red-1;
    background-image: url('/img/logo-white-2.svg');
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  @include calc-vh(min-height, calc(100vh));
  min-width: 320px;
}

main {
  position: relative;
}

[class^=pages-] {
  padding: 30px 0;
}

.container {
  padding: 0 25px;
  min-width: 320px;
}

.position-relative {
  position: relative;
}

.card {
  position: relative;
  background-color: $white;
  border-radius: 4px;
  padding: 25px;
  &.no-bg {
    background-color: transparent;
  }
  &.no-pd {
    padding: 0;
  }
  p, ul, ol {
    strong {
      font-weight: 600;
    }
  }
  &.disabled > * {
    opacity: .25;
    pointer-events: none;
  }
}

.dark-mode {
  a:not([class]) {
    color: $yellow-1;
  }
  hr {
    background-color: $dark-1;
    &.dashed {
      border-color: $dark-1;
    }
  }
  .card {
    background-color: $dark-2;
  }
}

.info-text {
  position: relative;
  padding-left: 40px;
  max-width: 250px;
  .icon-alert-circle {
    position: absolute;
    top: 1px;
    left: 16px;
  }
  &.full-width {
    max-width: 100%;
  }
  &.less-pd {
    padding-left: 15px;
  }
}

.text-green {
  color: $green-1;
}

.text-dark-blue-2 {
  color: $dark-blue-2;
}

.text-dark-blue-3 {
  color: $dark-blue-3;
}

.text-red,
.text-hover-red:hover {
  color: $red-1;
}

.bg-greyish-blue-2 {
  background-color: $greyish-blue-2;
}

.dark-mode {
  .text-dark-blue-2,
  .text-hover-red:hover {
    color: $yellow-1;
  }
  .text-dark-blue-3 {
    color: $grey-5;
  }

  .bg-greyish-blue-2 {
    background-color: $dark-1;
  }
}

.text-yellow {
  color: $yellow-1;
}

.text {
  &-medium {
    font-weight: 500;
  }
  &-semibold {
    font-weight: 600;
  }
  &-bold {
    font-weight: 700;
  }
}

.menu,
.dropdown-menu {
  padding: 0;
  list-style: none;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

/** Header */

.page-header {
  background-color: $white;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  transition: box-shadow .1s ease-out;
  .topbar {
    background-color: $white;
    border-bottom: 1px solid $greyish-blue-1;
    & > .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
    }
    .logo {
      img {
        height: 30px;
        width: auto;
      }
    }
    nav {
      display: flex;
      align-items: center;
    }
    .user-menu {
      position: relative;
      cursor: pointer;
      width: 34px;
      margin-left: 50px;
      padding: 0;
      & > i {
        margin: 0;
        font-size: 15px;
      }
      &_list {
        position: absolute;
        z-index: 1;
        width: 300px;
        top: 100%;
        right: -81px;
        visibility: hidden;
        opacity: 0;
        padding-top: 10px;
        cursor: default;
        &-inner {
          color: $dark-blue-1;
          background-color: $white;
          box-shadow: $shadow-light-2;
          padding: 25px 25px 20px;
          border-radius: 4px;
          overflow: hidden;
          a {
            color: $dark-blue-1;
            font-size: 15px;
            font-weight: 500;
            &:hover {
              color: $red-1;
            }
          }
          ul {
            list-style: none;
            margin: 0 0 -10px;
            padding: 0;
            li {
              margin-bottom: 10px;
            }
          }
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 15px;
            background-color: $greyish-blue-3;
          }
        }
      }
      &:hover {
        .user-menu_list {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .langs-menu {
      position: relative;
      cursor: pointer;
      width: 60px;
      margin-left: 20px;
      & > i {
        margin: 0;
      }
      &_list {
        position: absolute;
        z-index: 1;
        width: 60px;
        top: 100%;
        left: 0;
        visibility: hidden;
        opacity: 0;
        padding-top: 10px;
        &-inner {
          background-color: $white;
          box-shadow: $shadow-light-2;
          border-radius: 4px;
          overflow: hidden;
          span.cursor-pointer {
            color: $dark-blue-1;
            display: block;
            line-height: 34px;
            text-align: center;
            cursor: pointer;
            &:hover {
              color: $red-1;
            }
          }
        }
      }
      &:hover {
        .langs-menu_list {
          visibility: visible;
          opacity: 1;
        }
        i {
          transform: scaleY(-1);
        }
      }
    }
    .menu {
      display: flex;
      align-items: center;
      margin: 0;
      .badge-counter {
        bottom: 5px;
        left: 3px;
      }
      & > li {
        &:not(:last-child) {
          margin-right: 30px;
        }
        a {
          display: flex;
          align-items: center;
          color: inherit;
          font-weight: 500;
          &.active,
          &:hover {
            color: $red-1;
          }
        }
        i {
          font-size: 17px;
          margin-right: 8px;
        }
      }
    }
  }
  .navbar {
    background-color: $white;
    & > .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
    }
    .menu {
      display: flex;
      margin: 0 -25px;
      & > li {
        a {
          display: inline-flex;
          align-items: center;
          color: inherit;
          font-weight: 500;
          &.active,
          &:hover {
            color: $red-1;
          }
        }
        & > a {
          line-height: 70px;
          white-space: nowrap;
          padding: 0 25px;
        }
      }
    }
    .dropdown-content {
      position: absolute;
      z-index: 1;
      width: 100%;
      top: 100%;
      left: 0;
      visibility: hidden;
      opacity: 0;
      background-color: $white;
      box-shadow: $shadow-light-3;
      border-top: 1px solid $greyish-blue-1;
    }
    .menu > li:hover {
      & > a {
        color: $red-1;
        i {
          transform: scaleY(-1);
        }
      }
      .dropdown-content {
        visibility: visible;
        opacity: 1;
      }
    }
    .dropdown-menu {
      padding: 20px 0;
      li {
        padding-top: 10px;
        padding-bottom: 10px;
        i {
          width: 60px;
          font-size: 45px;
        }
      }
    }
  }
  &.has-shadow {
    box-shadow: $shadow-light-4;
  }
}

.dark-mode {
  .page-header {
    background-color: $dark-2;
    .topbar,
    .navbar,
    .navbar .dropdown-content {
      background-color: $dark-2;
      border-color: $dark-1;
    }
    .topbar {
      .menu > li a.active,
      .menu > li a:hover {
        color: $yellow-1;
      }
      .user-menu img {
        background-color: $dark-3;
      }
      .langs-menu,
      .user-menu {
        border-color: $white;
        &:hover {
          background-color: $white;
          color: $dark-2;
        }
      }
      .langs-menu_list-inner,
      .user-menu_list-inner {
        color: $white;
        background-color: $dark-2;
        box-shadow: $shadow-dark-2;
        a, 
        span.cursor-pointer {
          color: $white;
          &:hover {
            color: $yellow-1;
          }
        }
      }
    }
    .navbar {
      .menu > li a.active,
      .menu > li a:hover,
      .menu > li:hover > a {
        color: $yellow-1;
      }
      .dropdown-content {
        box-shadow: $shadow-dark-3;
      }
    }
  }
}

/** Footer */

.page-footer {
  background-color: $dark-blue-1;
  color: $white;
  padding: 40px 0px;
  margin-top: auto;
  .logo {
    img {
      height: 30px;
    }
  }
  p {
    margin-top: 20px;
    max-width: 400px;
  }
  mark {
    display: block;
    margin-top: 20px;
    background: none;
    color: inherit;
    a {
      color: $yellow-1;
      font-weight: 500;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  h4 {
    color: $yellow-1;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
  }
  .menu {
    margin: 0;
    li {
      margin-top: 15px;
      a {
        color: $white;
        font-weight: 500;
        &:hover {
          color: $yellow-1;
        }
      }
    }
  }
  .socials {
    margin: 25px -10px 20px;
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: $white;
      border: 1px solid $white;
      border-radius: 4px;
      width: 34px;
      height: 34px;
      margin: 0 10px;
      transition: .1s ease-out;
      &:hover {
        color: $dark-blue-1;
        background-color: $white;
      }
    }
  }
}

.socials.btns {
  flex-shrink: 0;
  a {
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    border: 1px solid;
    border-radius: 4px;
    margin-right: 15px;
    &:hover {
      color: $white;
      background-color: $dark-blue-2;
    }
  }
}

.dark-mode {
  .page-footer {
    background-color: $dark-2;
    mark a {
      color: $white;
    }
    .socials a:hover {
      color: $dark-1;
    }
    .logo + p {
      color: $grey-4;
    }
  }

  .socials.btns a {
    color: $white;
    border-color: $grey-1;
    &:hover {
      background-color: $grey-1;
    }
  }
}

/** Mobile Nav & Menu */

.mobile-nav {
  position: sticky;
  z-index: 9;
  bottom: 0;
  left: 0;
  background-color: $white;
  height: 60px;
  width: 100%;
  border-top: 2px solid $greyish-blue-1;
  margin-top: auto;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;    
      justify-content: flex-end;  
      height: 58px;
      padding-bottom: 9px;
      color: $greyish-blue-4;
      font-size: 11px;
      font-weight: 500;
      text-align: center;
      &.pseudo-active,
      &.exact-active {
        color: $red-1;
      }
      span {
        margin-top: 6px;
      }
      i {
        &::before {
          font-size: 18px;
        }
        &.icon-star,
        &.icon-chat,
        &.icon-user,
        &.icon-settings {
          font-weight: bold;
        }
      }
    }
    li {
      position: relative;
      .badge-counter {
        position: absolute;
        top: 0;
        border: 1px solid $white;
      }
      &:nth-child(1),
      &:nth-child(5) {
        width: 45px;
      }
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        width: 60px;
        .badge-counter {
          right: 14px;
        }
      }
      &:nth-child(3) {
        a {
          color: $green-1;
          &.exact-active {
            color: $green-2;
            i {
              background-color: $green-2;
            }
          }
        }
        i {
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 51px;
          height: 51px;
          border: 6px solid $greyish-blue-1;
          background-color: $green-1;
          color: $white;
          font-size: 16px;
        }
      }
    }
  }
}

.mobile-menu {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  .menu-header {
    background-color: $white;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
    }
    .logo {
      img {
        height: 30px;
      }
    }
    span {
      &:first-of-type {
        color: $red-1;
      }
      i::before {
        font-size: 16px;
      }
    }
    &.has-shadow {
      box-shadow: $shadow-light-4;
    }
  }
  .menu-backdrop {
    @include abs-zero(fixed, 50);
    @include backdrop-filter;
  }
  .menu-sidebar {
    @include abs-zero(fixed, 51);
    display: flex;
    overflow: auto;
    transform: translate(-101%);
    transition: transform .3s ease;
    background-color: rgba($red-5, 0.9);
    min-width: 260px;
    width: 315px;
    width: calc(50% + 270px - 60px);
    max-width: calc(100% - 60px);
    padding: 40px;
    border-radius: 0 30px 30px 0;
    &_content {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 400px;
      margin-left: auto;
      // & > .d-flex {
      //   margin-bottom: auto;
      // }
    }
    &.show {
      transform: translate(0%);
    }
    a {
      color: $white;
    }
    .close {
      color: $white;
      font-size: 14px;
    }
    .langs-menu {
      .btn {
        width: 48px;
        font-size: 15px;
        margin-right: 15px;
        color: $white;
        border-color: rgba($white, .24);
        &:hover {
          border-color: rgba($white, .24);
          background-color: transparent;
        }
        &.active {
          background-color: $red-6;
          border-color: $red-6;
          pointer-events: none;
        }
      }
    }
    .user-menu {
      margin-top: 50px;
      a {
        font-size: 14px;
        font-weight: 500;
        &:hover {
          color: $white;
        }
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 15px;
        border: 2px solid $white;
        background-color: rgba($white, .15);
      }
    }
    hr {
      margin: 30px 0;
      background-color: rgba($white, .15);
    }
    ul {
      list-style: none;
      margin: 0 0 -10px;
      padding: 0 0 40px;
      li {
        margin-bottom: 25px;
        &.login {
          margin-top: 50px;
        }
        &.logout {
          margin: 50px 0 0;
        }
        a {
          display: inline-flex;
          font-size: 16px;
          i {
            width: 16px;
            justify-content: center;
            margin-right: 14px;
          }
        }
      }
    }
  }
}

.dark-mode {
  .mobile-nav {
    background-color: $dark-2;
    border-top: 2px solid $dark-1;
    ul {
      a {
        color: $white;
        &.pseudo-active,
        &.exact-active {
          color: $yellow-1;
        }
      }
      li {
        .badge-counter {
          border-color: $dark-2;
        }
        &:nth-child(3) i {
          border: 6px solid $dark-1;
        }
      }
    }
  }
  
  .mobile-menu {
    .menu-header {
      background-color: $dark-2;
      span {
        &:first-of-type {
          color: $white;
        }
      }
    }
    .menu-backdrop {
      @include backdrop-filter($dark-1);
    }
    .menu-sidebar {
      background-color: rgba($dark-2, .9);
      .langs-menu {
        .btn {
          border-color: $grey-1;
          &:hover {
            border-color: $grey-1;
          }
          &.active {
            background-color: $grey-1;
          }
        }
      }
    }
  }
}

/** Breadcrumbs */

.breadcrumbs {
  margin: -30px 0 0;
  ul {
    margin: 0 auto 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 60px;
    list-style: none;
    li {
      display: inline-flex;
      align-items: center;
      vertical-align: top;
      a {
        color: $dark-blue-1;
        &:hover {
          color: $dark-blue-2;
        }
      }
      &.active {
        color: $red-1;
      }
      .icon-chevron-right {
        margin: 0 8px;
      }
      .icon-home {
        font-size: 18px;
      }
    }
  }
  .socials {
    a:not(:last-child) {
      margin-right: 25px;
    }
  }
}

.dark-mode {
  .breadcrumbs {
    color: $grey-5;
    ul li {
      a {
        color: $grey-5;
        &:hover {
          color: $yellow-1;
        }
      }
      &.active {
        color: $white;
      }
    }
    .socials a {
      color: $white;
      &:hover {
        color: $yellow-1;
      }
    }
  }
}

/** Pagination */

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px auto 30px;
  list-style: none;
  padding: 0;
  li {
    position: relative;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 34px;
      height: 34px;
      color: $dark-blue-1;
      font-size: 14px;
      font-weight: 500;
      background-color: $white;
      text-transform: uppercase;
      border: 0;
      &:hover {
        color: $red-1;
      }
    }
    &.active button {
      color: $white;
      color: $red-1;
      pointer-events: none;
      &::after {
        content: '\e941';
        font-family: 'icons';
        position: absolute;
        width: 50%;
        left: 25%;
        bottom: -8px;
      }
    }
    &.disabled button {
      color: $grey-3;
      pointer-events: none;
    }
    &.prev button {
      border-radius: 4px 0 0 4px;
    }
    &.next button {
      border-radius: 0 4px 4px 0;
    }
  }
}

.dark-mode {
  .pagination {
    li {
      button {
        color: $white;
        background-color: $dark-2;
        &:hover {
          color: $yellow-1;
        }
      }
      &.active button {
        color: $yellow-1;
      }
      &.disabled button {
        color: $grey-1;
      }
    }
  }
}

/** Theme Switch & To Top */

.theme-switch {
  cursor: pointer;
  overflow: hidden;
  &.floating {
    position: fixed;
    z-index: 9;
    bottom: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: $shadow-light-1;
    background-color: $white;
    // &:hover canvas {
    //   opacity: .5;
    // }
  }
  canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(.3) translate(-50%,-50%);
    transform-origin: 0 0;
    // transition: opacity .2s;
  }
  &.mobile {
    position: relative;
    width: 40px;
    height: 40px;
  }
}

.scroll-top {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0 .3s ease-out, opacity .3s ease-out;
  cursor: pointer;
  position: fixed;
  z-index: 9;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: $shadow-light-1;
  background-color: $white;
  .scroll-top_icon {
    @include abs-middle;
    font-size: 24px;
    span {
      display: flex;
    }
  }
  &:hover {
    color: $dark-blue-2;
  }
}

.reached-footer {
  .theme-switch.floating,
  .scroll-top {
    position: absolute;
    bottom: 30px;
  }
}

.scrolled {
  .scroll-top {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s ease-out;
  }
}

.action-bar {
  position: fixed;
  touch-action: none;
  // pointer-events: none;
  z-index: 40;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $white;
  border-bottom: 1px solid $greyish-blue-2;
  &.priority-1 {
    z-index: 56;
  }
  .d-flex {
    height: 60px;
  }
  span {
    font-size: 15px;
    margin: 0 auto;
  }
  i {
    width: 30px;
    height: 60px;
    align-items: center;
    pointer-events: all;
    &:first-of-type {
      margin-right: -30px;
      justify-content: flex-start;
    }
    &:last-of-type {
      margin-left: -30px;
      justify-content: flex-end;
    }
    &.icon-check {
      font-weight: bold;
      font-size: 8px;
    }
    &.disabled {
      opacity: .25;
      pointer-events: none;
    }
  }
}

.dark-mode {
  .theme-switch.floating,
  .scroll-top {
    background-color: $dark-2;
    box-shadow: $shadow-dark-1;
    &:hover {
      color: $yellow-1;
    }
  }
  .action-bar {
    background-color: $dark-2;
    border-bottom-color: $dark-1;
  }
}

/** Backdrop */

.backdrop {
  @include abs-zero(fixed, 50);
  @include backdrop-filter;
}

.dark-mode {
  .backdrop {
    @include backdrop-filter($dark-1);
  }
}

/** Toasts */

.toasted-container.top-right {
  top: 8px !important;
  right: 18px !important;
  .toasted.toasted-primary {
    &:not(:first-child) {
      display: none !important;
    }
    position: relative;
    max-width: 440px;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 18px !important;
    padding: 8px 25px !important;
    padding-left: 46px !important;
    box-shadow: none !important;
    border-radius: 4px !important;
    min-height: 34px !important;
    &::after {
      position: absolute;
      top: 11px;
      left: 26px;
      font-size: 12px;
      font-weight: bold;
      @extend [class^="icon-"];
    }
    &.success {
      color: $green-1;
      background-color: $green-3;
      &::after {
        content: '\e93b';
      }
    }
    &.error {
      color: $red-1;
      background-color: $red-3;
      &::after {
        content: '\e91e';
      }
    }
    .action {
      color: inherit;
      margin: 0 0 auto auto;
      padding: 0 0 0 15px;
      font-size: inherit;
    }
  }
}

[data-color-mode=dark] .toasted-container.top-right {
  .toasted.toasted-primary.success,
  .toasted.toasted-primary.error {
    background-color: $dark-3;
  }
} 

/** Loading */

.loading-indicator {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 3px;
  width: 0%;
  opacity: 1;
  transition: width 0.1s, opacity 0.4s;
  background-color: $dark-blue-1;
  z-index: 999999;
  &.loading-indicator-notransition {
    transition: none;
  }
  &.loading-indicator-dark-mode {
    background-color: $white;
  }
  &.loading-indicator-failed {
    background-color: $red-1;
  }
}

.disabled-content {
  opacity: .4;
  pointer-events: none;
}

.disabled-ui {
  opacity: .25;
  pointer-events: none;
}

/** Transitions */

.fade-enter,
.fade-leave-to { 
  opacity: 0; 
}
.fade-enter-active,
.fade-leave-active { 
  transition: 0.5s;
}

.fade2-enter-active, 
.fade2-leave-active {
  transition: opacity .5s;
}
.fade2-enter, 
.fade2-leave-to {
  opacity: 0;
  transition-duration: 0s;
}

.slide-enter {
  opacity: 0;
  transform: translate3d(25px, 0, 0);
}
.slide-enter-active,
.slide-leave-active { 
  transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.slide-leave-to {
  opacity: 0;
  transform: translate3d(-25px, 0, 0);
}

.translate-fade-enter-active, 
.translate-fade-leave-active {
  transition: transform .5s cubic-bezier(.53,2,.36,.85), opacity .5s cubic-bezier(.53,2,.36,.85);
}
.translate-fade-enter, 
.translate-fade-leave-active {
  opacity: 0;
  transform: translateX(25px);
}

.list-complete-item {
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}

/** VueScroll */

.__rail-is-vertical {
  background: $white !important;
  border-radius: 0 !important;
  .__bar-is-vertical {
    background: $greyish-blue-2 !important;
  }
}

.dark-mode {
  .__rail-is-vertical {
    background: $dark-1 !important;
    .__bar-is-vertical {
      background: $grey-1 !important;
    }
  }
}

.modal-popup {
  .hasVBar {
    .__view {
      padding-right: 20px;
    }
  }
}

/** Responsive */

@include media-max-width('lg') {
  body {
    font-size: 13px;
  }

  hr {
    margin: 15px 0;
  }

  [class^=pages-] {
    padding: 0 0 30px;
  }

  .container {
    max-width: 540px;
  }

  .row:not(.no-gutters) {
    margin-right: -$grid-gutter-width * .375;
    margin-left: -$grid-gutter-width * .375;
    & > .col,
    & > [class*="col-"] {
      padding-right: $grid-gutter-width * .375;
      padding-left: $grid-gutter-width * .375;
    }
  }

  .__panel {
    margin-right: 0;
  }

  .card {
    margin: 0 -25px;
    &.with-margins {
      margin: 0;
    }
    &.pt-2.pt-lg-4 {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .toasted-container.top-right {
    right: auto !important;
    left: calc(50% - 270px + 24px) !important;
    min-width: 0px !important;
    .toasted.toasted-primary {
      width: 540px;
      max-width: calc(100% - 49px);
      top: 30px;
      margin-top: 10px;
    }
  }

  body.select-menu-open {
    overflow-y: hidden !important;
    .toasted-container {
      z-index: -1;
    }
  }

  .pagination {
    margin: 15px auto 20px;
  }
}

@include media-max-width('sm') {
  .toasted-container.top-right {
    left: 24px !important;
    width: calc(100% - 49px) !important;
    .toasted.toasted-primary {
      max-width: 100%;
    }
  }
}

@include media-min-width('lg') {
  .layout,
  .container {
    min-width: 1250px;
    &.wider {
      min-width: 100%;
    }
  }

  .row {
    .col-lg-1-5 {
      flex: 0 0 20%;
      max-width: 20%;
    }
    .col-lg-2-5 {
      flex: 0 0 40%;
      max-width: 40%;
    }
    .col-lg-3-5 {
      flex: 0 0 60%;
      max-width: 60%;
    }
    .col-lg-4-5 {
      flex: 0 0 80%;
      max-width: 80%;
    }
    .col-lg-1-8 {
      flex: 0 0 12.5%;
      max-width: 12.5%;
    }
  }

  .offset-lg-3-5 {
    margin-left: 60%;
  }

  .offset-lg-4-5 {
    margin-left: 80%;
  }

  /** VueScroll */

  .__rail-is-vertical {
    background: transparent !important;
    .__bar-is-vertical {
      background: $white !important;
    }
  }

  .light-mode {
    .white-scroll-bg {
      .__rail-is-vertical {
        .__bar-is-vertical {
          background: $greyish-blue-3 !important;
        }
      }
    }
  }
  
  .dark-mode {
    .__rail-is-vertical {
      background: transparent !important;
      .__bar-is-vertical {
        background: $grey-1 !important;
      }
    }
  }
}

@media (min-width: 1616px) {
  .layout,
  .container {
    &.wider {
      min-width: 1616px;
    }
  }
}