@mixin media-max-width($breakpoint) {
  @media (max-width: map-get($grid-breakpoints, $breakpoint) - 0.02px) {
    @content;
  }
}

@mixin media-min-width($breakpoint) {
  @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
    @content;
  }
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

@mixin calc-vh($property: min-height, $expression: calc(100vh)) {
  #{$property}: $expression;
  #{$property}: #{str-replace(quote($expression), '100vh','(var(--vh, 1vh) * 100)')};
}

@mixin backdrop-filter($bg-color: $dark-blue-1, $alpha: .5) {
  background: rgba($bg-color, $alpha);
  backdrop-filter: blur(5px);
}

@mixin abs-zero($pos: absolute, $zIndex: false) {
  position: $pos;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @if $zIndex {
    z-index: $zIndex;
  }
}

@mixin abs-middle($pos: absolute, $zIndex: false) {
  position: $pos;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @if $zIndex {
    z-index: $zIndex;
  }
}

@mixin customScrollbar{
    overflow-y: scroll;
    /* width */
    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent !important;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgb(206, 206, 206);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
}

@mixin customScrollbar1{
    overflow-y: scroll;
    /* width */
    &::-webkit-scrollbar {
      width: 3px;
      height: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent !important;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgb(206, 206, 206);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
}

@mixin mal-scrollbar {
  overflow-y: scroll;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(206, 206, 206);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
@mixin mal-scrollbar-2 {
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: $white;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $greyish-blue-2;
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


}
@mixin mal-scrollbar-3 {
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: $white;

  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(173, 178, 200, 0.3);
    border-radius: 5px;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}


@mixin flexCenter{
   display: flex;
   justify-content: center;
   align-items: center;
}
