$dark-blue-1: #081A3E;
$dark-blue-2: #246EB2;
$dark-blue-3: #646E95;

$grayish-blue-1: #F3F7FC;
$grayish-blue-2: #ECF2F9;
$grayish-blue-3: #D6E4F8;
$grayish-blue-4: #B6BBD5;
$grayish-blue-5: #B0C5DD;
$grayish-blue-6: #D4E1EE;
$grayish-blue-7: #ADB2C8;

$red-1: #F81734;
$red-2: #F0112F;
$red-3: #FFE9EC;
$red-4: #FED1D6;

$red-5: #C2022D;
$red-6: #F74D66;

$green-1: #29A53E;
$green-2: #1C9831;
$green-3: #E0F8E4;

$yellow-1: #F2EABD;

$grey-1: #606061;
$grey-2: #3A3A3C;
$grey-3: #B3BCCA;
$grey-4: #BDBDBE;
$grey-5: #A4A4A5;
$grey-6: #343436;

$white: #fff;

$dark-1: #1C1C1E;
$dark-2: #242426;
$dark-3: #202022;

$shadow-light-1: 0px 0px 15px #BED1E7;
$shadow-light-2: 0px 0px 15px rgba(8, 26, 62, 0.15);
$shadow-light-3: 0px 10px 15px rgba(8, 26, 62, 0.15);
$shadow-light-4: 0px 0px 15px 3px rgba(8, 26, 62, 0.1);
$shadow-light-5: 0px 0px 15px rgba(34, 61, 91, 0.2);
$shadow-light-6: 4px 8px 15px rgba(34, 61, 91, 0.25);

$shadow-dark-1: 0px 0px 15px #131314;
$shadow-dark-2: 0px 0px 15px rgba(19, 19, 20, 0.15);
$shadow-dark-3: 0px 10px 15px rgba(19, 19, 20, 0.15);
$shadow-dark-4: 0px 0px 15px 3px rgba(19, 19, 20, 0.1);
$shadow-dark-5: 0px 0px 15px rgba(19, 19, 20, 0.7);
$shadow-dark-6: 4px 8px 15px rgba(19, 19, 20, 0.5);