$dark-blue-1: #081A3E;
$dark-blue-2: #246EB2;

$grayish-blue-1: #F3F7FC;
$grayish-blue-2: #ECF2F9;
$grayish-blue-3: #D6E4F8;
$grayish-blue-4: #B6BBD5;

$red-1: #F81734;
$red-2: #F0112F;
$red-3: #FFE9EC;
$red-4: #FED1D6;

$green-1: #29A53E;
$green-2: #1C9831;
$green-3: #E0F8E4;

$yellow-1: #F2EABD;

$white: #fff;