@import 'bootstrap';
@import 'swiper/css/swiper.css';

@import 'fonts';
@import 'icons';

@import 'variables';
@import 'mixins';
@import 'layouts';
@import 'partials';
@import 'sections';
@import 'default';


.fade-y-20-enter,
.fade-y-20-leave-to {
   opacity: 0;
   transform: translateY(-20px);
}
.fade-y-20-enter-active,
.fade-y-20-leave-to {
   transition: opacity 0.3s, transform 0.3s;
}
