.page-header {
   position: sticky;
   z-index: 20;
   top: 0;
   margin-bottom: 107px;

   .topbar {
      display: flex;
      align-items: center;
      height: 96px;
      //padding: 20px;
      background-color: $dark-blue-1;
      // border-bottom: 1px solid $greyish-blue-1;

      .btn {
         height: 40px;
      }

      & > .container {
         display: flex;
         justify-content: space-between;
         align-items: center;
         //height: 50px;
      }

      .store-badges {
         height: 50px;
         width: 80px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         margin: 0 auto 0 12px;

         a {
            display: block;
         }

         img {
            width: 100%;
         }
      }

      nav {
         display: flex;
         align-items: center;
      }

      //.theme-switch {
      //    margin-left: 10px;
      //}
      .user-menu {
         position: relative;
         flex-shrink: 0;
         cursor: pointer;
         min-width: 113px;
         color: $white;
         background: $red-1;
         margin: 0 15px 0 45px;
         padding: 9px 15px;
         display: flex;
         align-items: center;

         p {
            font-size: 16px;
         }

         & > i {
            margin: 0 10px 0 0;
            font-size: 15px;

            &::before {
               margin: 0 !important;
            }
         }

         &_list {
            position: absolute;
            z-index: 1;
            width: 300px;
            top: 100%;
            right: -141px;
            visibility: hidden;
            opacity: 0;
            padding-top: 10px;
            cursor: default;

            &-inner {
               color: $dark-blue-1;
               background-color: $white;
               box-shadow: $shadow-light-2;
               padding: 25px 25px 20px;
               border-radius: 4px;
               overflow: hidden;

               a {
                  color: $dark-blue-1;
                  font-size: 15px;
                  font-weight: 500;

                  &:hover {
                     color: $red-1;
                  }
               }

               ul {
                  list-style: none;
                  margin: 0 0 -10px;
                  padding: 0;

                  li {
                     margin-bottom: 10px;
                  }
               }

               img {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  margin-right: 15px;
                  background-color: $greyish-blue-3;
               }
            }
         }

         //&__title {
         //    margin-top: 4px;
         //}

         &__toggler {
            margin-top: 4px !important;
         }

         &:hover {
            .user-menu_list {
               visibility: visible;
               opacity: 1;
            }
         }
      }

      .langs-menu {
         position: relative;
         cursor: pointer;
         width: 60px;
         margin-left: 20px;

         &__selected {
            margin-top: -2px;
            text-transform: uppercase;
         }

         & > i {
            margin: 0;
         }

         &_list {
            position: absolute;
            z-index: 1;
            width: 60px;
            top: 100%;
            left: 0;
            visibility: hidden;
            opacity: 0;
            //padding-top: 10px;
            &-inner {
               background-color: #081A3E;
               //background-color: $white;
               box-shadow: $shadow-light-2;
               border-radius: 4px;
               border: 1px solid #9AA4B2;
               overflow: hidden;

               span.cursor-pointer {
                  color: $white;
                  display: block;
                  line-height: 34px;
                  text-align: center;
                  cursor: pointer;
                  text-transform: uppercase;

                  &:hover {
                     color: $red-1;
                  }
               }
            }
         }

         &:hover {
            .langs-menu_list {
               visibility: visible;
               opacity: 1;
            }

            i {
               transform: scaleY(-1);
            }
         }
      }

      .menu {
         display: flex;
         align-items: center;
         margin: 0;

         .badge-counter {
            bottom: 8px;
            left: -8px;
         }

         & > li {
            &:not(:last-child) {
               margin-right: 30px;
            }

            a {
               display: flex;
               align-items: center;
               color: inherit;
               font-weight: 500;

               &.active,
               &:hover {
                  color: $red-1;
               }
            }

            i {
               font-size: 24px;
            }
         }
      }
   }

   .navbar {
      display: flex;
      align-items: center;
      height: 76px;
      background-color: $white;
      border-bottom: 1px solid #CDD5DF;
      //border-radius: 0 0 20px 20px;

      .iconNovelties {
         margin-left: 4px;
      }

      //& > .container {
      //display: flex;
      //justify-content: space-between;
      //align-items: center;
      //height: 50px;
      //}

      .menu {
         display: flex;
         margin: 0;

         & > li {
            &:not(:first-child) {
               margin-left: 56px;
            }

            a {
               display: inline-flex;
               align-items: center;
               color: #121926;
               font-size: 16px;
               line-height: 20px;
               font-weight: 500;

               &.active,
               &:hover {
                  color: $red-1;
               }
            }

            & > a {
               line-height: 52px;
               white-space: nowrap;
               //padding: 0 25px;
            }
         }
      }

      .dropdown-content {
         position: absolute;
         z-index: 1;
         width: 100%;
         top: 100%;
         left: 0;
         visibility: hidden;
         opacity: 0;
         background-color: $white;
         box-shadow: $shadow-light-3;
      }

      .menu > li:hover {
         & > a {
            color: $red-1;

            i {
               transform: scaleY(-1);
            }
         }

         .dropdown-content {
            visibility: visible;
            opacity: 1;
            border-radius: 0 0 20px 20px;
         }
      }

      .dropdown-menu {
         padding: 20px 0;

         li {
            padding-top: 10px;
            padding-bottom: 10px;

            i {
               display: inline-flex;
               align-items: center;
               justify-content: center;
               width: 60px;
               height: 45px;
               font-size: 45px;

               &.icon-store {
                  font-size: 22px;
               }

               &.icon-parts {
                  font-size: 30px;
               }
            }
         }

         &_categories {
            margin: 32px 0;
            list-style: none;
            border-right: 1px solid $greyish-blue-3;
            padding: 0 28px 0 0;

            a {
               display: flex;
               align-items: center;
               justify-content: space-between;
               height: 37px;
               width: 100%;
            }
         }
      }

      //.btn {
      //   height: 44px;
      //   font-size: 16px;
      //   line-height: 20px;
      //   color: $white;
      //   background-color: #32B878;
      //   //backdrop-filter: blur(10px);
      //}
   }
}

.call-center {
   display: flex;
   align-items: center;
   margin-right: auto;
   margin-left: 51px;
   height: 35px;

   svg {
      height: 40px;
   }

   span {
      color: white;
      font-size: 16px;
      margin-left: -6px;
   }
}

.header-menu {
   height: 96px;
   padding-right: 0;
   padding-left: 0;
   transition: box-shadow 0.1s ease-out;
   //border-radius: 0 0 20px 20px;
}

.salon-car-icon {
   margin-right: 5px;
   width: 14px;
}

.dark-mode {
   .salon-car-icon {
      path {
         fill: white;
      }
   }
}
