.menu,
.dropdown-menu {
   padding: 0;
   list-style: none;
}

.page-header {
   .topbar-nav {
      .exact-active i::before {
         color: $red-1;
      }

      a, svg {
         outline: none;
      }

      .exact-active {
         svg {
            outline: none;

            //path {
               //stroke: $red-1
            //}
         }
      }
   }
}

.mobile-nav {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 72px;
   background-image: url("/images/mobile-nav-bg.svg");
   background-position: center;
   background-repeat: no-repeat;
   //background-size: cover;
   z-index: 9;

   &:before,
   &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 33%;
      height: 64px;
      background-color: #FFFFFF;
   }

   &:before {
      left: 0;
   }

   &:after {
      right: 0;
   }

   .container {
      position: relative;
      z-index: 10;
      height: 100%;

      ul {
         display: flex;
         align-items: center;
         justify-content: space-between;
         height: 100%;
         padding: 15px 15px 0 15px;

         a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            color: $greyish-blue-4;
            font-size: 11px;
            font-weight: 500;
            text-align: center;

            &.pseudo-active,
            &.exact-active {
               color: $dark-blue-1;

               svg {
                  path {
                     fill: $dark-blue-1;
                  }
               }
            }

            span {
               margin-top: 4px;
               font-size: 12px;
               font-weight: 500;
               line-height: 14px;
            }
         }

         li {
            position: relative;

            .badge-counter {
               position: absolute;
               top: 0;
               border: 1px solid $white;
            }

            &:nth-child(3) {
               margin: -45px 0 0 -8px;

               span {
                  margin-top: 15px;
               }
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
               .badge-counter {
                  right: 14px;
               }
            }

            //&:nth-child(3) {
            //   a {
            //      color: $green-1;

                  //&.exact-active {
                  //   color: $green-2;
                  //
                  //   i {
                  //      background-color: $green-2;
                  //   }
                  //}
               //}

               //i {
               //   align-items: center;
               //   justify-content: center;
               //   border-radius: 50%;
               //   width: 51px;
               //   height: 51px;
               //   border: 6px solid $greyish-blue-1;
               //   background-color: $green-1;
               //   color: $white;
               //   font-size: 16px;
               //}
            //}
         }
      }
   }
}

.mobile-menu {
   position: sticky;
   z-index: 10;
   top: 0;
   left: 0;
   margin-bottom: 32px;

   .menu-header {
      background-color: $white;

      .container {
         display: flex;
         justify-content: space-between;
         align-items: center;
         height: 56px;
      }

      .logo {
         img {
            height: 30px;
         }
      }

      span {
         //&:first-of-type {
         //   color: $red-1;
         //}

         i::before {
            font-size: 16px;
         }
      }

      &.has-shadow {
         box-shadow: $shadow-light-4;
      }
   }

   .menu-backdrop {
      @include abs-zero(fixed, 50);
      @include backdrop-filter;
   }

   .menu-sidebar {
      @include abs-zero(fixed, 51);
      display: flex;
      overflow: auto;
      transform: translate(-101%);
      transition: transform 0.3s ease;
      background-color: rgba($red-5, 0.9);
      min-width: 260px;
      width: 315px;
      width: calc(50% + 270px - 60px);
      max-width: calc(100% - 60px);
      padding: 40px;
      border-radius: 0 30px 30px 0;

      &_content {
         display: flex;
         flex-direction: column;
         width: 100%;
         max-width: 400px;
         margin-left: auto;
         // & > .d-flex {
         //   margin-bottom: auto;
         // }
      }

      &.show {
         transform: translate(0%);
      }

      a {
         color: $white;
      }

      .close {
         color: $white;
         font-size: 14px;
      }

      .langs-menu {
         .btn {
            width: 48px;
            font-size: 15px;
            margin-right: 15px;
            color: $white;
            border-color: rgba($white, 0.24);

            &:hover {
               border-color: rgba($white, 0.24);
               background-color: transparent;
            }

            &.active {
               background-color: $red-6;
               border-color: $red-6;
               pointer-events: none;
            }
         }
      }

      .user-menu {
         margin-top: 50px;

         a {
            font-size: 14px;
            font-weight: 500;

            &:hover {
               color: $white;
            }
         }

         img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 15px;
            border: 2px solid $white;
            background-color: rgba($white, 0.15);
         }
      }

      hr {
         margin: 30px 0;
         background-color: rgba($white, 0.15);
      }

      ul {
         list-style: none;
         margin: 0 0 -10px;
         padding: 0 0 40px;

         li {

            margin-bottom: 25px;

            &.login {
               margin-top: 50px;
            }

            &.logout {
               margin: 50px 0 0;
            }

            a {
               display: inline-flex;
               align-items: center;
               font-size: 16px;

               svg {
                  width: 16px;
                  margin-right: 14px;
               }

               i {
                  justify-content: center;
                  width: 16px;
                  margin-right: 14px;
               }
            }
         }
      }
   }
}

@media (max-width: 600px) {
   .mobile-menu {
      margin-bottom: 0;
   }

   .mobile-nav {
      .container {
         ul {
            padding: 15px 0 0 0;
         }
      }
   }
}

.compare-icon-white {
   svg {
      margin-right: 5px;
      margin-bottom: 2px;

      path {
         fill: white;
         stroke: white;
      }
   }
}

.white-background {
   background: #fff;
   width: 22px;
   height: 22px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 4px;

   .btn-compare {
      width: 20px;
      height: 20px;
   }
}

@media (max-width: 280px) {
   .mobile-nav {
      .container {
         ul {
            li {
               &:nth-child(3) {
                  margin: -45px 0 0 -8px;
               }
            }
         }
      }
   }
}

.dark-mode{
   .mobile-nav {
      background-image: url("/images/mobile-nav-bg-dark.svg");

      &:before,
      &:after {
         width: 33%;
         background-color: #1b2434;
      }
   }
}
