@include media-max-width('lg') {
  .map-switch {
    position: fixed !important;
    right: 25px;
    bottom: 90px !important;
  }
}

/** Responsive */

@include media-max-width('lg') {
  body {
    font-size: 13px;
  }

  hr {
    margin: 15px 0;
  }

  [class^='pages-'] {
    padding: 0 0 30px;
  }

  .container {
    max-width: 540px;
  }

  .row:not(.no-gutters) {
    margin-right: -$grid-gutter-width * 0.375;
    margin-left: -$grid-gutter-width * 0.375;

    & > .col,
    & > [class*='col-'] {
      padding-right: $grid-gutter-width * 0.375;
      padding-left: $grid-gutter-width * 0.375;
    }
  }

  .__panel {
    margin-right: 0;
  }

  .card {
    margin: 0 -25px;

    &.with-margins {
      margin: 0;
    }

    &.pt-2.pt-lg-4 {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .toasted-container.top-right {
    right: auto !important;
    left: calc(50% - 270px + 24px) !important;
    min-width: 0px !important;

    .toasted.toasted-primary {
      width: 540px;
      max-width: calc(100% - 49px);
      top: 30px;
      margin-top: 10px;
    }
  }

  body.select-menu-open {
    overflow-y: hidden !important;

    .toasted-container {
      z-index: -1;
    }
  }

  .pagination {
    margin: 15px auto 20px;
  }
}

@include media-max-width('sm') {
  .toasted-container.top-right {
    left: 24px !important;
    width: calc(100% - 49px) !important;

    .toasted.toasted-primary {
      max-width: 100%;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .layout,
  .container {
    min-width: 1250px;

    &.wider {
      min-width: 100%;
    }
  }

  .row {
    .col-lg-1-5, .col-xl-1-5 {
      flex: 0 0 20%;
      max-width: 20%;
    }

    .col-lg-2-5, .col-xl-2-5 {
      flex: 0 0 40%;
      max-width: 40%;
    }

    .col-lg-3-5 {
      flex: 0 0 60%;
      max-width: 60%;
    }

    .col-lg-4-5 {
      flex: 0 0 80%;
      max-width: 80%;
    }

    .col-lg-1-8 {
      flex: 0 0 12.5%;
      max-width: 12.5%;
    }
  }

  .offset-lg-3-5 {
    margin-left: 60%;
  }

  .offset-lg-4-5 {
    margin-left: 80%;
  }

  /** VueScroll */

  .__rail-is-vertical {
    background: transparent !important;

    .__bar-is-vertical {
      background: $white !important;
    }
  }

  .light-mode {
    .white-scroll-bg {
      .__rail-is-vertical {
        .__bar-is-vertical {
          background: $greyish-blue-3 !important;
        }
      }
    }
  }

  .dark-mode {
    .__rail-is-vertical {
      background: transparent !important;

      .__bar-is-vertical {
        background: $grey-1 !important;
      }
    }
  }
}

@media (min-width: 1616px) {
  .layout,
  .container {
    &.wider {
      min-width: 1616px;
    }
  }
}

@media only screen and (max-width: 1279px) {
  .page-header {
    .navbar {
      .menu {
        li {
          a {
            padding: 0 16px !important;
          }
        }
      }
    }
  }
}
