.announcements-grid {
  margin: 30px 0;
  &.loading-content {
    opacity: .4;
    pointer-events: none;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background-color: $dark-blue-1;
    color: $white;
    height: 50px;
    padding: 0 25px;
    margin: 0 0 20px;
    h2 {
      display: flex;
      align-items: center;
      margin: 0;
      i {
        font-size: 16px;
        margin-left: 5px;
        margin-right: 12px;
      }
      span {
        font-size: 18px;
        font-weight: 500;
      }
    }
    a {
      display: inline-flex;
      vertical-align: top;
      align-items: center;
      color: $white;
      font-size: 15px;
      font-weight: 500;
      &:hover {
        color: $yellow-1;
      }
      i {
        margin-left: 10px;
      }
    }
  }
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 100px 0 70px;
  span {
    font-size: 18px;
    font-weight: 500;
    margin-top: 22px;
  }
}

.dark-mode {
  .announcements-grid {
    .title {
      background-color: $dark-2;
    }
  }
}

@include media-max-width('lg') {
  .announcements-grid {
    .title {
      height: 34px;
      padding: 0 15px;
      h2 {
        span {
          font-size: 14px;
        }
        i {
          font-size: 14px;
          margin-left: 0;
        }
      }
      a {
        font-size: 13px;
        font-weight: normal;
      }
    }
  }

  .no-results {
    span {
      font-size: 16px;
    }
    img {
      width: 50px;
    }
  }
}

@include media-min-width('lg') {
  .announcements-grid {
    .col-lg-auto {
      width: 20%;
    }
  }
}