input,
textarea {
  font: inherit;
  color: inherit;
  appearance: none;
  &::placeholder {
    font: inherit;
    color: inherit;
    opacity: 1;
  }
  &:focus {
    outline: none;
  }
}

.form-group {
  margin: 20px 0;
  width: 100%;
}

.text-input {
  position: relative;
  width: 100%;
  input {
    width: 100%;
    border: 0;
    background-color: $grayish-blue-2;
    height: 34px;
    padding: 7px 10px 6px;
    border-radius: 4px;
    &.invalid {
      color: $red-1;
      padding-right: 34px;
    }
  }
  .icon-info-circle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    color: $red-1;
    pointer-events: none;
  }
}

.newsletter {
  color: $dark-blue-1;
  form {
    display: flex;
    max-width: 420px;
  }
  input {
    display: block;
    border: 0;
    border-radius: 4px;
    height: 34px;
    padding: 7px 15px 6px;
    line-height: 17px;
    font-weight: 500;
    margin-right: 20px;
    width: 100%;
    max-width: 280px;
    background-color: $white;
    &.invalid {
      color: $red-1 !important;
    }
  }
  button {
    flex-shrink: 0;
  }
}

.dark-mode {
  .text-input {
    input {
      background-color: $dark-1;
    }
  }

  .newsletter {
    color: $white;
    input {
      background-color: $dark-1;
    }
  }
}