.form-group {
  margin: 20px 0;
  width: 100%;
}

.text-input {
  position: relative;
  width: 100%;
  input {
    width: 100%;
    font: inherit;
    color: inherit;
    appearance: none;
    border: none;
    background-color: $grayish-blue-2;
    height: 34px;
    padding: 7px 10px 6px;
    border-radius: 4px;
    &::placeholder {
      color: inherit;
    }
    &:focus {
      outline: none;
    }
    &.invalid {
      color: $red-1;
      padding-right: 34px;
    }
  }
  .icon-info-circle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    color: $red-1;
    pointer-events: none;
  }
}

.newsletter {
  form {
    display: flex;
    max-width: 420px;
  }
  input {
    font: inherit;
    color: $dark-blue-1;
    display: block;
    appearance: none;
    border: 2px solid $white;
    border-radius: 4px;
    height: 34px;
    padding: 7px 15px 6px;
    line-height: 17px;
    font-weight: 500;
    margin-right: 20px;
    width: 100%;
    max-width: 280px;
    &::placeholder {
      font: inherit;
      color: inherit;
      opacity: 1;
    }
    &:focus {
      outline: none;
    }
    &.invalid {
      border-color: $red-1;
    }
  }
  button {
    flex-shrink: 0;
  }
}